____Calendar_Gesti_n_de_Citas (1).json
{
  "name": "✅🕑 Calendar Gestión de Citas",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        200,
        240
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "=optimadevops@gmail.com",
          "mode": "id",
          "__regex": "(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"
        },
        "timeMax": "={{ $now.plus({ week: 2 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        420,
        240
      ],
      "id": "8a70580b-84bd-4d4d-b66b-c7619f44a691",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "tTP9XnDiXPF1yuWv",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "no-reply@smartcalls.biz",
        "toEmail": "=patrick.optimaquantum@gmail.com",
        "subject": "SmartCalls",
        "emailFormat": "text",
        "text": "=Se confirmar nuestra reunión con {{ $json.nombre }}, programada para el {{ $json.fecha_meet }} a las {{ $json.hora_meet_nueva }}. La reunión se realizará a través de la pltaforma de videollamada Google Meet.\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1920,
        320
      ],
      "id": "89da662d-0e92-422f-8334-095d0ac4fa65",
      "name": "Correo Verificación Nuestro",
      "webhookId": "e1dbea9c-06bd-4f05-9263-bd5d5df944e2",
      "credentials": {
        "smtp": {
          "id": "Dx9eTPsVTPlyb1CQ",
          "name": "SMTP SmartCalls"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "no-reply@smartcalls.biz",
        "toEmail": "=patrickschonewolf@hotmail.com",
        "subject": "Confirmación de tu reunión con SmartCalls",
        "emailFormat": "text",
        "text": "=Estimado/a {{ $('Loop Over Items3').item.json.nombre }},\n\n¡Gracias por agendar una reunión con el equipo de SmartCalls!\n\n\nTe confirmamos que nuestra videollamada está programada para el {{ $('Loop Over Items3').item.json.fecha_meet }} a las {{ $('Loop Over Items3').item.json.hora_meet_nueva }}. Nos conectaremos a través de la plataforma Google Meet para conocerte mejor, entender tu negocio y explicarte cómo nuestros agentes de voz con inteligencia artificial pueden ayudarte a automatizar procesos y mejorar tu atención al cliente.\n\nSi tienes cualquier duda o inconveniente antes de la reunión, no dudes en contactarnos. Estaremos encantados de ayudarte.\n\nSitio web: smartcalls.biz\nEmail: info@smartcalls.biz\n\n¡Nos vemos muy pronto!\n\nUn cordial saludo,\nEl equipo de SmartCalls",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2100,
        320
      ],
      "id": "c212ead0-e22d-4c32-8d4c-67bec38fde92",
      "name": "Correo Verificación Cliente",
      "webhookId": "e1dbea9c-06bd-4f05-9263-bd5d5df944e2",
      "credentials": {
        "smtp": {
          "id": "Dx9eTPsVTPlyb1CQ",
          "name": "SMTP SmartCalls"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e72b5ae6-3fee-4b62-8c08-2449d6862ba9",
              "name": "nombre",
              "value": "={{ $json.summary }}",
              "type": "string"
            },
            {
              "id": "fd810296-0902-4b12-8a37-96e628daa024",
              "name": "email_cliente",
              "value": "={{ $('When Executed by Another Workflow').item.json.email_cliente }}",
              "type": "string"
            },
            {
              "id": "45da3f8f-1a3f-44b9-9556-a7eb8c662080",
              "name": "hora_meet",
              "value": "={{ $json.start.dateTime }}",
              "type": "string"
            },
            {
              "id": "78d0c73e-515a-450a-943d-52fe1d85b1e2",
              "name": "description",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "22db8ebe-1318-47c8-ac90-e7fcbefa5404",
              "name": "email_empresa",
              "value": "={{ $json.attendees[0].email }}",
              "type": "string"
            },
            {
              "id": "6a0ce824-b068-4259-9045-1dd9c8175152",
              "name": "is_contacted",
              "value": 0,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        600,
        240
      ],
      "id": "d795d10f-b279-4535-bd4e-5e044506289a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        780,
        240
      ],
      "id": "8786ae9b-c026-4c31-8323-2782c8179071",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "// Obtener el texto del campo \"description\" del primer ítem\nconst description = $input.first().json.description;\n\n// Dividir el texto en líneas\nconst lines = description.split('\\n');\n\n// Variables para almacenar los datos extraídos\nlet meetLink = '';\nlet phoneNumber = '';\nlet phoneFound = false;\n\n// Recorrer las líneas para buscar los datos\nfor (const line of lines) {\n  // Enlace del Meet (línea con \"https://meet.google.com\")\n  if (line.includes('https://meet.google.com')) {\n    meetLink = line.trim();\n  }\n  // Número de teléfono (línea después de \"telefono:\")\n  if (phoneFound) {\n    phoneNumber = line.trim();\n    phoneFound = false; // Resetear para no seguir buscando\n  }\n  if (line.trim() === 'telefono:') {\n    phoneFound = true; // Marcar que la siguiente línea es el número\n  }\n}\n\n// Devolver los datos extraídos junto con los datos del JSON original\nreturn [{\n  json: {\n    nombre: $input.first().json.nombre,\n    email_cliente: $input.first().json.email_cliente,\n    hora_meet: $input.first().json.hora_meet,\n    meetLink: meetLink,\n    phoneNumber: phoneNumber\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        260
      ],
      "id": "633abb7f-aeeb-41b8-811a-8858edec39bb",
      "name": "CodeFiltrarDatosCalendar"
    },
    {
      "parameters": {
        "jsCode": "// Obtener el primer ítem del input\nconst item = $input.first().json;\n\n// Parsear la fecha del campo \"hora_meet\" para la fecha\nconst fechaOriginal = new Date(item.hora_meet);\n\n// Extraer día, mes y año\nconst dia = fechaOriginal.getDate().toString().padStart(2, '0');\nconst mes = (fechaOriginal.getMonth() + 1).toString().padStart(2, '0');\nconst anio = fechaOriginal.getFullYear();\n\n// Extraer la hora y los minutos directamente del string ISO\nconst horaMeetString = item.hora_meet; // \"2025-04-11T17:00:00+02:00\"\nconst horaPartes = horaMeetString.split('T')[1].split(':'); // [\"17\", \"00\", \"00+02:00\"]\nconst horas = horaPartes[0]; // \"17\"\nconst minutos = horaPartes[1]; // \"00\"\n\n// Formatear la fecha y la hora\nconst fechaMeet = `${dia}-${mes}-${anio}`;\nconst horaMeetNueva = `${horas}:${minutos}`;\n\n// Devolver el objeto con los campos originales más los nuevos\nreturn [{\n  json: {\n    nombre: item.nombre,\n    email_cliente: item.email_cliente,\n    meetLink: item.meetLink,\n    phoneNumber: item.phoneNumber,\n    fecha_meet: fechaMeet,\n    hora_meet_nueva: horaMeetNueva\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1380,
        260
      ],
      "id": "7506b191-e478-42d1-b381-27df81476fab",
      "name": "CodeHora"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1720,
        260
      ],
      "id": "2e473da0-5020-4490-9560-eca7780faa3c",
      "name": "Loop Over Items3"
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1520,
        260
      ],
      "id": "8aa70a32-7952-4459-b919-3baf3aabfee9",
      "name": "Wait1",
      "webhookId": "4293b5b7-da7c-4270-b5a3-090f77835fba",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "1b25bc2d-ec6a-435b-847b-5aadb25e7d3c",
              "leftValue": "={{ $json.is_contacted }}",
              "rightValue": "=False",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        980,
        260
      ],
      "id": "54144bf0-3fcc-47eb-9982-50cb9ab40764",
      "name": "If2"
    },
    {
      "parameters": {
        "amount": 50
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2300,
        240
      ],
      "id": "837530b8-6ec8-4c31-a707-e3205a9f26bf",
      "name": "Wait",
      "webhookId": "0d3acc29-9f8c-4be9-9e48-89e69cb9a52d",
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Correo Verificación Nuestro": {
      "main": [
        [
          {
            "node": "Correo Verificación Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Correo Verificación Cliente": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CodeFiltrarDatosCalendar": {
      "main": [
        [
          {
            "node": "CodeHora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CodeHora": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Correo Verificación Nuestro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "CodeFiltrarDatosCalendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2ff598be-fe37-4720-9232-bfabd4def3b0",
  "meta": {
    "instanceId": "91e9bc2fd2d08736422cccee7e1506bda336e368f82dcb792c9d1bbf6348503c"
  },
  "id": "HJrxTpaRNSvwwyiL",
  "tags": []
}