Automatizaciones_N8N/Gestor_de_LLamadas_2_1.json
{
  "name": "❌📞 Gestor de LLamadas 2.1",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "=Transforma el siguiente nombre para que pueda ser usado correctamente en una solicitud json y no de errores, formatealo para que no haya carácteres especiales, no admitidos por JSON.\n\n{{ $json.contact_name }}\n\nResponde SOLAMENTE con el nombre transformado, NADA más. No des la respuesta entre comillas.\n\nRESPONDE SOLAMENTE CON EL NOMBRE RESULTANTE.\nEJ: Casetes Inmobiliaria"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1380,
        400
      ],
      "id": "83d8facd-2980-48df-9d23-61f12f4059c3",
      "name": "OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "eEJ7dY14gZuZ6XoB",
          "name": "OpenAi Optima Quantum"
        }
      }
    },
    {
      "parameters": {
        "content": "Acceder a la DB con los datos del formulario.",
        "height": 260,
        "width": 180,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1600,
        300
      ],
      "typeVersion": 1,
      "id": "64727746-f602-4fe8-bc2c-73bd4c6c2bf5",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Utiliza el modelo **gpt-3.5-turbo** para transformar el nombre del negocio (**Name**) en un formato válido para JSON, eliminando caracteres especiales no admitidos.",
        "height": 260,
        "width": 320,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1400,
        300
      ],
      "typeVersion": 1,
      "id": "8fa92356-62e8-4cb0-937f-b5cb2a7183f2",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "Realiza una solicitud POST a la API de Retell AI.",
        "height": 220,
        "width": 220,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1060,
        340
      ],
      "typeVersion": 1,
      "id": "6998fc0c-af55-4830-99c4-e05eacd2195f",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "### Ajustar tiempo de espera 7 minutos\n",
        "height": 80,
        "width": 160,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -800,
        300
      ],
      "typeVersion": 1,
      "id": "f8b2430d-f698-4ae5-b992-5d40c9c5cab0",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM customer WHERE place_id = '{{ $json.body.place_id }}';",
        "options": {}
      },
      "id": "2e6ed416-829e-4b92-8b80-e8af11f58d5c",
      "name": "MySQL Tabla Customer",
      "type": "n8n-nodes-base.mySql",
      "position": [
        -1560,
        400
      ],
      "typeVersion": 2.1,
      "credentials": {
        "mySql": {
          "id": "l3Xgr9sCVnJ3NZHu",
          "name": "MySQL account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/v2/create-phone-call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer key_83c9176445a69ff250c6b9fa2f75"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"from_number\": \"+34919932145\",\n  \"to_number\": \"{{ $('MySQL Tabla Customer').item.json.phone }}\",\n  \"retell_llm_dynamic_variables\": {\n    \"nombre\": \"{{ $json.message.content }}\"  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1000,
        400
      ],
      "id": "57742eca-6973-46ed-997f-6fea98994ec2",
      "name": "Llamada saliente",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -780,
        400
      ],
      "id": "037b7aad-9a59-4b20-b83c-e7f5e27b84ce",
      "name": "Espera a que finalice la llamada",
      "webhookId": "e49c4ab3-c53b-4ffb-a48c-20da701da88a",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "=optimadevops@gmail.com",
          "mode": "id",
          "__regex": "(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"
        },
        "timeMax": "={{ $now.plus({ week: 2 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -620,
        400
      ],
      "id": "07379969-c38e-4388-9cac-afec9091b92f",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "tTP9XnDiXPF1yuWv",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "no-reply@smartcalls.biz",
        "toEmail": "=info@smartcalls.biz",
        "subject": "SmartCalls",
        "emailFormat": "text",
        "text": "=Se confirmar nuestra reunión con {{ $json.nombre }}, programada para el {{ $json.fecha_meet }} a las {{ $json.hora_meet_nueva }}. La reunión se realizará a través de la pltaforma de videollamada Google Meet.\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -840,
        700
      ],
      "id": "8f0cf009-81c4-4cdc-a552-42a8abadbfe8",
      "name": "Correo Verificación Nuestro",
      "webhookId": "e1dbea9c-06bd-4f05-9263-bd5d5df944e2",
      "credentials": {
        "smtp": {
          "id": "Dx9eTPsVTPlyb1CQ",
          "name": "SMTP SmartCalls"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "no-reply@smartcalls.biz",
        "toEmail": "={{ $('MySQL Tabla Customer').item.json.email }}",
        "subject": "Confirmación de tu reunión con SmartCalls",
        "emailFormat": "text",
        "text": "=Estimado/a {{ $('Loop Over Items3').item.json.nombre }},\n\n¡Gracias por agendar una reunión con el equipo de SmartCalls!\n\n\nTe confirmamos que nuestra videollamada está programada para el {{ $('Loop Over Items3').item.json.fecha_meet }} a las {{ $('Loop Over Items3').item.json.hora_meet_nueva }}. Nos conectaremos a través de la plataforma Google Meet para conocerte mejor, entender tu negocio y explicarte cómo nuestros agentes de voz con inteligencia artificial pueden ayudarte a automatizar procesos y mejorar tu atención al cliente.\n\nSi tienes cualquier duda o inconveniente antes de la reunión, no dudes en contactarnos. Estaremos encantados de ayudarte.\n\nSitio web: smartcalls.biz\nEmail: info@smartcalls.biz\n\n¡Nos vemos muy pronto!\n\nUn cordial saludo,\nEl equipo de SmartCalls",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -660,
        700
      ],
      "id": "9798b21e-a61f-4be0-9aa6-b0ffc2ce3865",
      "name": "Correo Verificación Cliente",
      "webhookId": "e1dbea9c-06bd-4f05-9263-bd5d5df944e2",
      "credentials": {
        "smtp": {
          "id": "Dx9eTPsVTPlyb1CQ",
          "name": "SMTP SmartCalls"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "no-reply@smartcalls.biz",
        "toEmail": "={{ $json.email_cliente }}",
        "subject": "Confirmación de tu reunión con SmartCalls",
        "emailFormat": "text",
        "text": "=Estimado/a {{ $json.nombre }}.\n\n¡Gracias por agendar una reunión con el equipo de SmartCalls!\n\nTe confirmamos que nuestra videollamada está programada para el {{ $json.fecha_meet }} a las {{ $json.hora_meet_nueva }}. Nos conectaremos a través de la plataforma Google Meet para conocerte mejor, entender tu negocio y explicarte cómo nuestros agentes de voz con inteligencia artificial pueden ayudarte a automatizar procesos y mejorar tu atención al cliente.\n\nSi tienes cualquier duda o inconveniente antes de la reunión, no dudes en contactarnos. Estaremos encantados de ayudarte.\n\nSitio web: smartcalls.biz\nEmail: info@smartcalls.biz\n\n¡Nos vemos muy pronto!\n\nUn cordial saludo,\nEl equipo de SmartCalls",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -480,
        1040
      ],
      "id": "bc94871d-a3fe-47df-9f45-17d1f27188e0",
      "name": "Correo Cliente un día antes del Meet a las 19:",
      "webhookId": "e1dbea9c-06bd-4f05-9263-bd5d5df944e2",
      "credentials": {
        "smtp": {
          "id": "Dx9eTPsVTPlyb1CQ",
          "name": "SMTP SmartCalls"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "=optimadevops@gmail.com",
          "mode": "id",
          "__regex": "(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"
        },
        "timeMax": "={{ $now.plus({ day: 6 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -1520,
        1020
      ],
      "id": "96ad66a0-7df9-4a4f-8193-195681a5c95c",
      "name": "Google Calendar1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "tTP9XnDiXPF1yuWv",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "=optimadevops@gmail.com",
          "mode": "id",
          "__regex": "(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"
        },
        "timeMax": "={{ $now.plus({ minutes: 30 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -1500,
        1280
      ],
      "id": "e98909ef-3182-4ace-9212-ecf53f5e9874",
      "name": "Google Calendar2",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "tTP9XnDiXPF1yuWv",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1720,
        1280
      ],
      "id": "b48b6ee6-9170-4795-b817-7ee51782f508",
      "name": "Confirmar Meet 30 min antes"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 19
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1720,
        1020
      ],
      "id": "d8b88710-8352-45c2-ab41-0296bc8218dc",
      "name": "Confirmar Meet 19:00 del día anterior"
    },
    {
      "parameters": {
        "fromEmail": "no-reply@smartcalls.biz",
        "toEmail": "={{ $json.email_cliente }}",
        "subject": "Optima Quantum",
        "emailFormat": "text",
        "text": "=Estimado/a {{ $json.nombre }}.\n\n¡Gracias por agendar una reunión con el equipo de SmartCalls!\n\nTe confirmamos que nuestra videollamada está programada para el {{ $json.fecha_meet }} a las {{ $json.hora_meet_nueva }}. Nos conectaremos a través de la plataforma Google Meet para conocerte mejor, entender tu negocio y explicarte cómo nuestros agentes de voz con inteligencia artificial pueden ayudarte a automatizar procesos y mejorar tu atención al cliente.\n\nPuede conectarse a través del siguiente enlance: ​{{ $json.meetLink }}\n\nSi tienes cualquier duda o inconveniente antes de la reunión, no dudes en contactarnos. Estaremos encantados de ayudarte.\n\nSitio web: smartcalls.biz\nEmail: info@smartcalls.biz\n\n¡Nos vemos muy pronto!\n\nUn cordial saludo,\nEl equipo de SmartCalls\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -480,
        1300
      ],
      "id": "0ebc157c-9905-4f01-a7b7-1bb4e4fcf295",
      "name": "Correo Cliente 30 min antes",
      "webhookId": "e1dbea9c-06bd-4f05-9263-bd5d5df944e2",
      "credentials": {
        "smtp": {
          "id": "Dx9eTPsVTPlyb1CQ",
          "name": "SMTP SmartCalls"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e72b5ae6-3fee-4b62-8c08-2449d6862ba9",
              "name": "nombre",
              "value": "={{ $json.summary }}",
              "type": "string"
            },
            {
              "id": "fd810296-0902-4b12-8a37-96e628daa024",
              "name": "email_cliente",
              "value": "={{ $json.attendees[1].email }}",
              "type": "string"
            },
            {
              "id": "45da3f8f-1a3f-44b9-9556-a7eb8c662080",
              "name": "hora_meet",
              "value": "={{ $json.start.dateTime }}",
              "type": "string"
            },
            {
              "id": "78d0c73e-515a-450a-943d-52fe1d85b1e2",
              "name": "description",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "22db8ebe-1318-47c8-ac90-e7fcbefa5404",
              "name": "email_empresa",
              "value": "={{ $json.attendees[0].email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1280,
        1020
      ],
      "id": "72d5fca1-5503-4bcf-81bb-93e2c51555aa",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e72b5ae6-3fee-4b62-8c08-2449d6862ba9",
              "name": "nombre",
              "value": "={{ $json.summary }}",
              "type": "string"
            },
            {
              "id": "fd810296-0902-4b12-8a37-96e628daa024",
              "name": "email_cliente",
              "value": "={{ $('MySQL Tabla Customer').item.json.email }}",
              "type": "string"
            },
            {
              "id": "45da3f8f-1a3f-44b9-9556-a7eb8c662080",
              "name": "hora_meet",
              "value": "={{ $json.start.dateTime }}",
              "type": "string"
            },
            {
              "id": "78d0c73e-515a-450a-943d-52fe1d85b1e2",
              "name": "description",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "22db8ebe-1318-47c8-ac90-e7fcbefa5404",
              "name": "email_empresa",
              "value": "={{ $json.attendees[0].email }}",
              "type": "string"
            },
            {
              "id": "6a0ce824-b068-4259-9045-1dd9c8175152",
              "name": "is_contacted",
              "value": 0,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -440,
        400
      ],
      "id": "e725f32d-5267-4bb4-bf89-5937b039157a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e72b5ae6-3fee-4b62-8c08-2449d6862ba9",
              "name": "nombre",
              "value": "={{ $json.summary }}",
              "type": "string"
            },
            {
              "id": "fd810296-0902-4b12-8a37-96e628daa024",
              "name": "email_cliente",
              "value": "={{ $json.attendees[1].email }}",
              "type": "string"
            },
            {
              "id": "45da3f8f-1a3f-44b9-9556-a7eb8c662080",
              "name": "hora_meet",
              "value": "={{ $json.start.dateTime }}",
              "type": "string"
            },
            {
              "id": "78d0c73e-515a-450a-943d-52fe1d85b1e2",
              "name": "description",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "22db8ebe-1318-47c8-ac90-e7fcbefa5404",
              "name": "email_empresa",
              "value": "={{ $json.attendees[0].email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1300,
        1280
      ],
      "id": "75b7433d-40c4-4323-aba3-b2eb43fe3e5d",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1080,
        1020
      ],
      "id": "8c17f5db-4dde-496c-8694-6f4f68d28bab",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1080,
        1280
      ],
      "id": "9e201401-71ad-4140-b5d4-1eda5868aa07",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "jsCode": "// Obtener el texto del campo \"description\" del primer ítem\nconst description = $input.first().json.description;\n\n// Dividir el texto en líneas\nconst lines = description.split('\\n');\n\n// Variables para almacenar los datos extraídos\nlet meetLink = '';\nlet phoneNumber = '';\nlet phoneFound = false;\n\n// Recorrer las líneas para buscar los datos\nfor (const line of lines) {\n  // Enlace del Meet (línea con \"https://meet.google.com\")\n  if (line.includes('https://meet.google.com')) {\n    meetLink = line.trim();\n  }\n  // Número de teléfono (línea después de \"telefono:\")\n  if (phoneFound) {\n    phoneNumber = line.trim();\n    phoneFound = false; // Resetear para no seguir buscando\n  }\n  if (line.trim() === 'telefono:') {\n    phoneFound = true; // Marcar que la siguiente línea es el número\n  }\n}\n\n// Devolver los datos extraídos junto con los datos del JSON original\nreturn [{\n  json: {\n    nombre: $input.first().json.nombre,\n    email_cliente: $input.first().json.email_cliente,\n    hora_meet: $input.first().json.hora_meet,\n    meetLink: meetLink,\n    phoneNumber: phoneNumber\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -840,
        1300
      ],
      "id": "e56f2a38-4255-4cbd-8aef-8b2d83205cbe",
      "name": "CodeFiltrarDatosCalendar2"
    },
    {
      "parameters": {
        "jsCode": "// Obtener el primer ítem del input\nconst item = $input.first().json;\n\n// Parsear la fecha del campo \"hora_meet\" para la fecha\nconst fechaOriginal = new Date(item.hora_meet);\n\n// Extraer día, mes y año\nconst dia = fechaOriginal.getDate().toString().padStart(2, '0');\nconst mes = (fechaOriginal.getMonth() + 1).toString().padStart(2, '0');\nconst anio = fechaOriginal.getFullYear();\n\n// Extraer la hora y los minutos directamente del string ISO\nconst horaMeetString = item.hora_meet; // \"2025-04-11T17:00:00+02:00\"\nconst horaPartes = horaMeetString.split('T')[1].split(':'); // [\"17\", \"00\", \"00+02:00\"]\nconst horas = horaPartes[0]; // \"17\"\nconst minutos = horaPartes[1]; // \"00\"\n\n// Formatear la fecha y la hora\nconst fechaMeet = `${dia}-${mes}-${anio}`;\nconst horaMeetNueva = `${horas}:${minutos}`;\n\n// Devolver el objeto con los campos originales más los nuevos\nreturn [{\n  json: {\n    nombre: item.nombre,\n    email_cliente: item.email_cliente,\n    meetLink: item.meetLink,\n    phoneNumber: item.phoneNumber,\n    fecha_meet: fechaMeet,\n    hora_meet_nueva: horaMeetNueva\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -660,
        1300
      ],
      "id": "78794d24-fbc0-4598-9296-c423d0d31f23",
      "name": "CodeHora2"
    },
    {
      "parameters": {
        "jsCode": "// Obtener el texto del campo \"description\" del primer ítem\nconst description = $input.first().json.description;\n\n// Dividir el texto en líneas\nconst lines = description.split('\\n');\n\n// Variables para almacenar los datos extraídos\nlet meetLink = '';\nlet phoneNumber = '';\nlet phoneFound = false;\n\n// Recorrer las líneas para buscar los datos\nfor (const line of lines) {\n  // Enlace del Meet (línea con \"https://meet.google.com\")\n  if (line.includes('https://meet.google.com')) {\n    meetLink = line.trim();\n  }\n  // Número de teléfono (línea después de \"telefono:\")\n  if (phoneFound) {\n    phoneNumber = line.trim();\n    phoneFound = false; // Resetear para no seguir buscando\n  }\n  if (line.trim() === 'telefono:') {\n    phoneFound = true; // Marcar que la siguiente línea es el número\n  }\n}\n\n// Devolver los datos extraídos junto con los datos del JSON original\nreturn [{\n  json: {\n    nombre: $input.first().json.nombre,\n    email_cliente: $input.first().json.email_cliente,\n    hora_meet: $input.first().json.hora_meet,\n    meetLink: meetLink,\n    phoneNumber: phoneNumber\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -860,
        1040
      ],
      "id": "9f6202f2-4e60-4ba4-9c9c-bba8b7848376",
      "name": "CodeFiltrarDatosCalendar1"
    },
    {
      "parameters": {
        "jsCode": "// Obtener el primer ítem del input\nconst item = $input.first().json;\n\n// Parsear la fecha del campo \"hora_meet\" para la fecha\nconst fechaOriginal = new Date(item.hora_meet);\n\n// Extraer día, mes y año\nconst dia = fechaOriginal.getDate().toString().padStart(2, '0');\nconst mes = (fechaOriginal.getMonth() + 1).toString().padStart(2, '0');\nconst anio = fechaOriginal.getFullYear();\n\n// Extraer la hora y los minutos directamente del string ISO\nconst horaMeetString = item.hora_meet; // \"2025-04-11T17:00:00+02:00\"\nconst horaPartes = horaMeetString.split('T')[1].split(':'); // [\"17\", \"00\", \"00+02:00\"]\nconst horas = horaPartes[0]; // \"17\"\nconst minutos = horaPartes[1]; // \"00\"\n\n// Formatear la fecha y la hora\nconst fechaMeet = `${dia}-${mes}-${anio}`;\nconst horaMeetNueva = `${horas}:${minutos}`;\n\n// Devolver el objeto con los campos originales más los nuevos\nreturn [{\n  json: {\n    nombre: item.nombre,\n    email_cliente: item.email_cliente,\n    meetLink: item.meetLink,\n    phoneNumber: item.phoneNumber,\n    fecha_meet: fechaMeet,\n    hora_meet_nueva: horaMeetNueva\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -680,
        1040
      ],
      "id": "ba196e1b-905f-4fb3-8bfc-4ca1d45e3e2d",
      "name": "CodeHora1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -280,
        400
      ],
      "id": "964b0009-2337-4597-99ae-326cb897f969",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "// Obtener el texto del campo \"description\" del primer ítem\nconst description = $input.first().json.description;\n\n// Dividir el texto en líneas\nconst lines = description.split('\\n');\n\n// Variables para almacenar los datos extraídos\nlet meetLink = '';\nlet phoneNumber = '';\nlet phoneFound = false;\n\n// Recorrer las líneas para buscar los datos\nfor (const line of lines) {\n  // Enlace del Meet (línea con \"https://meet.google.com\")\n  if (line.includes('https://meet.google.com')) {\n    meetLink = line.trim();\n  }\n  // Número de teléfono (línea después de \"telefono:\")\n  if (phoneFound) {\n    phoneNumber = line.trim();\n    phoneFound = false; // Resetear para no seguir buscando\n  }\n  if (line.trim() === 'telefono:') {\n    phoneFound = true; // Marcar que la siguiente línea es el número\n  }\n}\n\n// Devolver los datos extraídos junto con los datos del JSON original\nreturn [{\n  json: {\n    nombre: $input.first().json.nombre,\n    email_cliente: $input.first().json.email_cliente,\n    hora_meet: $input.first().json.hora_meet,\n    meetLink: meetLink,\n    phoneNumber: phoneNumber\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1560,
        640
      ],
      "id": "c8d02405-97f0-4b89-ae44-4262f7f66826",
      "name": "CodeFiltrarDatosCalendar"
    },
    {
      "parameters": {
        "jsCode": "// Obtener el primer ítem del input\nconst item = $input.first().json;\n\n// Parsear la fecha del campo \"hora_meet\" para la fecha\nconst fechaOriginal = new Date(item.hora_meet);\n\n// Extraer día, mes y año\nconst dia = fechaOriginal.getDate().toString().padStart(2, '0');\nconst mes = (fechaOriginal.getMonth() + 1).toString().padStart(2, '0');\nconst anio = fechaOriginal.getFullYear();\n\n// Extraer la hora y los minutos directamente del string ISO\nconst horaMeetString = item.hora_meet; // \"2025-04-11T17:00:00+02:00\"\nconst horaPartes = horaMeetString.split('T')[1].split(':'); // [\"17\", \"00\", \"00+02:00\"]\nconst horas = horaPartes[0]; // \"17\"\nconst minutos = horaPartes[1]; // \"00\"\n\n// Formatear la fecha y la hora\nconst fechaMeet = `${dia}-${mes}-${anio}`;\nconst horaMeetNueva = `${horas}:${minutos}`;\n\n// Devolver el objeto con los campos originales más los nuevos\nreturn [{\n  json: {\n    nombre: item.nombre,\n    email_cliente: item.email_cliente,\n    meetLink: item.meetLink,\n    phoneNumber: item.phoneNumber,\n    fecha_meet: fechaMeet,\n    hora_meet_nueva: horaMeetNueva\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1380,
        640
      ],
      "id": "defd935e-6af6-45b4-826e-e7beed3f2793",
      "name": "CodeHora"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1040,
        640
      ],
      "id": "513f9ea9-6ba3-4657-a89a-d2f63f90121f",
      "name": "Loop Over Items3"
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1240,
        640
      ],
      "id": "c1707505-3959-46f4-ae2d-b456cf94f123",
      "name": "Wait1",
      "webhookId": "4293b5b7-da7c-4270-b5a3-090f77835fba",
      "disabled": true
    },
    {
      "parameters": {
        "content": "# Iniciar Llamada\n",
        "height": 360,
        "width": 1080,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1920,
        220
      ],
      "typeVersion": 1,
      "id": "98412e46-b09b-412d-8aac-e354eb963492",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Emails de Confirmación\n",
        "height": 560,
        "width": 1500
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1780,
        960
      ],
      "typeVersion": 1,
      "id": "e3e71b59-aa44-4327-9a2a-ff94d0c56765",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "url": "=https://api.retellai.com/v2/get-call/{{ $('Llamada saliente').item.json.call_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer key_83c9176445a69ff250c6b9fa2f75"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -40,
        400
      ],
      "id": "2bd8f02a-75de-4911-8a06-13d391aef7b0",
      "name": "Transcripción"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        40,
        620
      ],
      "id": "625a62f4-f0af-4621-9087-941719ce8317",
      "name": "Espera",
      "webhookId": "8fdb9b02-7dd2-4e60-80bc-00be194ccda2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b0bfbae8-84c0-43a0-9783-96b02eeafec3",
              "leftValue": "={{ $json.call_status }}",
              "rightValue": "ended",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "4040b5d0-a4a0-4e52-b051-792888147b9f",
              "leftValue": "={{ $json.call_status }}",
              "rightValue": "error",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        240,
        400
      ],
      "id": "6b3d3f15-ad13-4b60-b8a0-52a0d2418ff6",
      "name": "Ha acabado la llamada?"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "Your only job is to check if the current date is a working date or not.\n\nWorking days:\nMonday\nTuesday\nWednesday\nThursday\nFriday\n\nOnly respond with YES or NO, nothing else.",
              "role": "system"
            },
            {
              "content": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -200,
        1060
      ],
      "id": "d9fe450f-4748-4011-88fe-7ea583fe9c97",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "eEJ7dY14gZuZ6XoB",
          "name": "OpenAi Optima Quantum"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c78d3787-23f8-4c91-9957-363510215ce8",
              "leftValue": "={{ $('Ha acabado la llamada?').item.json.transcript }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        640,
        380
      ],
      "id": "1a1475fc-2a93-4b4d-9aff-120e8f6750b9",
      "name": "El usuario ha respondido?"
    },
    {
      "parameters": {
        "amount": 24,
        "unit": "hours"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1220,
        640
      ],
      "id": "92e0a577-2037-411f-9957-6d1661ae22e5",
      "name": "Esperamos 24 horas",
      "webhookId": "444388d9-a1c0-45f1-a0a5-b08ceb9ea783"
    },
    {
      "parameters": {
        "content": "Verifica si call_status es ended (finalizada) o error.\nSi es verdadero: Continúa al análisis de la respuesta del usuario.\nSi es falso: Espera 20 segundos adicionales y vuelve a consultar la transcripción.",
        "height": 320,
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        220
      ],
      "typeVersion": 1,
      "id": "050512b9-9932-44cf-8057-25c5afe26efb",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "Evalúa si el usuario respondió (**user_responded** es falso).\nSi no respondió: Actualiza el estado para una segunda llamada.\nSi respondió: Registra los resultados en otra hoja.",
        "height": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        580,
        220
      ],
      "typeVersion": 1,
      "id": "e0a66e56-fbb0-400e-b363-575dddf1306f",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "Registra en la base de datos que la llamada no ha sido realizada",
        "height": 280,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        840,
        20
      ],
      "typeVersion": 1,
      "id": "eda82c19-4e8e-4ece-a8f4-0eace716b479",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "Guardamos el Output de la llammada en la base de datos.",
        "height": 440,
        "width": 220,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        840,
        320
      ],
      "typeVersion": 1,
      "id": "495f4c96-ad45-4e17-b6e0-d35bf99ec74e",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "Usa el modelo gpt-3.5-turbo para verificar si la fecha actual ($now) es un día laboral.\nDías laborales definidos: lunes, martes, miércoles, jueves, viernes.\nResponde únicamente con YES (sí) o NO (no).",
        "height": 260,
        "width": 340,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -220,
        940
      ],
      "typeVersion": 1,
      "id": "884901f5-70e1-41c2-bae8-6f71322fdb94",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "Consulta el estado de la llamada a través de la API de Retell AI. Obtiene detalles como la transcripción y el análisis de la llamada.",
        "height": 300,
        "width": 200,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -60,
        240
      ],
      "typeVersion": 1,
      "id": "1af2f284-93be-4db5-9052-9e7220ac0c0f",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e6fa734e-d850-4b22-a30a-538d7f822840",
              "leftValue": "={{ $json.message.content }}",
              "rightValue": "YES",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        180,
        1060
      ],
      "id": "db6501b9-3f72-46fb-ac6a-453b6b4210e1",
      "name": "If1"
    },
    {
      "parameters": {
        "content": "Si es verdadero (día laboral): Procede a realizar la segunda llamada.",
        "height": 280,
        "width": 180
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        140,
        940
      ],
      "typeVersion": 1,
      "id": "0c344b5e-fd15-4260-90a1-30e42ed41b09",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "Realiza una solicitud POST a la API de Retell AI.\nUsa el número +34936940187 como origen y el número del lead (Phone_1) como destino, prefijado con +34.\nIncluye el nombre del lead (Name) como variable dinámica (nombre).\n",
        "height": 300,
        "width": 340,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        340,
        900
      ],
      "typeVersion": 1,
      "id": "747cc529-a241-4e72-87fd-8171efdcb160",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "# Concertar Cita\n",
        "height": 360,
        "width": 700,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -820,
        220
      ],
      "typeVersion": 1,
      "id": "5ff214ef-c583-43e1-af06-1f039d3e85be",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "# Guardar Transcripción\n\n",
        "height": 780,
        "width": 1180,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        0
      ],
      "typeVersion": 1,
      "id": "2e52add9-392d-415d-8154-87b57c3473d7",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/v2/create-phone-call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer key_83c9176445a69ff250c6b9fa2f75"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"from_number\": \"+34919932145\",\n  \"to_number\": \"{{ $('MySQL Tabla Customer').item.json.phone }}\",\n  \"retell_llm_dynamic_variables\": {\n    \"nombre\": \"{{ $('MySQL Tabla Customer').item.json.contact_name }}\"  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        1040
      ],
      "id": "8ceb9704-0b1b-4689-80af-100b616177e2",
      "name": "Segunda Llamada"
    },
    {
      "parameters": {
        "url": "=https://api.retellai.com/v2/get-call/{{ $json.call_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer key_83c9176445a69ff250c6b9fa2f75"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -200,
        1520
      ],
      "id": "d1123681-4bca-44ce-a3b0-a7c5ffbf8ac3",
      "name": "Transcripción1"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -100,
        1740
      ],
      "id": "57d29de5-d670-49b6-a2d2-3890dd241d69",
      "name": "Espera1",
      "webhookId": "8fdb9b02-7dd2-4e60-80bc-00be194ccda2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c78d3787-23f8-4c91-9957-363510215ce8",
              "leftValue": "={{ $('Ha acabado la llamada?1').item.json.transcript }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        460,
        1540
      ],
      "id": "5b750d57-73a4-4693-956e-d96ce0374aab",
      "name": "El usuario ha respondido?1"
    },
    {
      "parameters": {
        "content": "Consulta el estado de la llamada en la API de Retell AI.\nObtiene detalles como la transcripción y el análisis de la llamada.",
        "height": 300,
        "width": 200,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        1380
      ],
      "typeVersion": 1,
      "id": "db7f0bf7-aae8-4c28-92a7-13b0449a422f",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "Si es verdadero (día laboral): Procede a realizar la segunda llamada.",
        "height": 300,
        "width": 220
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -20,
        1380
      ],
      "typeVersion": 1,
      "id": "6dd1077d-a13e-46d5-b865-ff4387626c64",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "content": "Evalúa si el usuario respondió, comprobando si **user_responded** en **call_analysis.custom_analysis_data** es **false**.\n▪ Si es verdadero (True, no respondió): Va a \"Tercera llamada\" para programar otro intento.\n▪ Si es falso (False, respondió): Va a \"Google Sheets1\" para registrar los resultados.",
        "height": 340,
        "width": 340
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        340,
        1400
      ],
      "typeVersion": 1,
      "id": "1316708e-437a-4490-8cd6-39ea216f6845",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "content": "# Segunda Llamada",
        "height": 400,
        "width": 940,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        860
      ],
      "typeVersion": 1,
      "id": "21451b3e-a4c8-48a0-beb2-76d042118dd2",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "content": "# Guardar Transcripción\n\n",
        "height": 780,
        "width": 1220,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -260,
        1300
      ],
      "typeVersion": 1,
      "id": "f5af410c-9474-4e69-8d34-f203c8abc032",
      "name": "Sticky Note23"
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "customer",
          "mode": "list",
          "cachedResultName": "customer"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "place_id",
        "valueToMatchOn": "={{ $('MySQL Tabla Customer').item.json.place_id }}",
        "valuesToSend": {
          "values": [
            {
              "column": "is_contacted",
              "value": "0"
            },
            {
              "column": "first_contact",
              "value": "={{ $('MySQL Tabla Customer').item.json.created_at }}"
            },
            {
              "column": "last_contact",
              "value": "={{ $('DataTime').item.json.datetime }}"
            }
          ]
        },
        "options": {}
      },
      "id": "20312bc5-f93e-4f24-b06c-e2188c050c5c",
      "name": "DB Customer (Llamada no realizada)",
      "type": "n8n-nodes-base.mySql",
      "position": [
        900,
        120
      ],
      "typeVersion": 2.1,
      "credentials": {
        "mySql": {
          "id": "l3Xgr9sCVnJ3NZHu",
          "name": "MySQL account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "customer",
          "mode": "list",
          "cachedResultName": "customer"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "place_id",
        "valueToMatchOn": "={{ $('MySQL Tabla Customer').item.json.place_id }}",
        "valuesToSend": {
          "values": [
            {
              "column": "first_contact",
              "value": "={{ $('MySQL Tabla Customer').item.json.created_at }}"
            },
            {
              "column": "last_contact",
              "value": "={{ $('DataTime').item.json.datetime }}"
            },
            {
              "column": "is_contacted",
              "value": "1"
            },
            {
              "column": "company_name",
              "value": "={{ $('MySQL Tabla Customer').item.json.company_name }}"
            },
            {
              "column": "contact_name",
              "value": "={{ $('MySQL Tabla Customer').item.json.contact_name }}"
            },
            {
              "column": "phone",
              "value": "={{ $('MySQL Tabla Customer').item.json.phone }}"
            },
            {
              "column": "email",
              "value": "={{ $('MySQL Tabla Customer').item.json.email }}"
            },
            {
              "column": "company_size_id",
              "value": "={{ $('MySQL Tabla Customer').item.json.company_size_id }}"
            },
            {
              "column": "industry_id",
              "value": "={{ $('MySQL Tabla Customer').item.json.industry_id }}"
            },
            {
              "column": "origin_id",
              "value": "={{ $('MySQL Tabla Customer').item.json.origin_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7135e260-111d-4a3e-91f2-0a8fde8598f9",
      "name": "DB Customert (Llamada Realizada)",
      "type": "n8n-nodes-base.mySql",
      "position": [
        900,
        380
      ],
      "typeVersion": 2.1,
      "credentials": {
        "mySql": {
          "id": "l3Xgr9sCVnJ3NZHu",
          "name": "MySQL account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "contactcustomer",
          "mode": "list",
          "cachedResultName": "contactcustomer"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "place_id",
        "valueToMatchOn": "={{ $('MySQL Tabla Customer').item.json.place_id }}",
        "valuesToSend": {
          "values": [
            {
              "column": "date",
              "value": "={{ $('MySQL Tabla Customer').item.json.created_at }}"
            },
            {
              "column": "call_id",
              "value": "={{ $('Ha acabado la llamada?').item.json.call_id }}"
            },
            {
              "column": "status",
              "value": "="
            },
            {
              "column": "transcription",
              "value": "={{ $('Ha acabado la llamada?').item.json.transcript }}"
            },
            {
              "column": "recording",
              "value": "={{ $('Ha acabado la llamada?').item.json.recording_url }}"
            },
            {
              "column": "feeling",
              "value": "={{ $('Ha acabado la llamada?').item.json.call_analysis.user_sentiment }}"
            },
            {
              "column": "notes",
              "value": "={{ $('Ha acabado la llamada?').item.json.call_analysis.call_summary }}"
            },
            {
              "column": "duration_ms",
              "value": "={{ $('Ha acabado la llamada?').item.json.duration_ms }}"
            }
          ]
        },
        "options": {}
      },
      "id": "013aaa80-3af4-45b5-a140-6937e7c26cdb",
      "name": "DB Contactcustomer (Llamada Realizada)",
      "type": "n8n-nodes-base.mySql",
      "position": [
        900,
        560
      ],
      "typeVersion": 2.1,
      "credentials": {
        "mySql": {
          "id": "l3Xgr9sCVnJ3NZHu",
          "name": "MySQL account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        780,
        840
      ],
      "id": "f85843d5-26ce-44a8-a089-5d311bced5f3",
      "name": "Espera a que finalice la llamada1",
      "webhookId": "e49c4ab3-c53b-4ffb-a48c-20da701da88a"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "=optimadevops@gmail.com",
          "mode": "id",
          "__regex": "(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"
        },
        "timeMax": "={{ $now.plus({ week: 2 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        960,
        840
      ],
      "id": "280831c7-8444-4f2f-b1c5-8dec8808279e",
      "name": "Google Calendar3",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "tTP9XnDiXPF1yuWv",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        780,
        1040
      ],
      "id": "418677d8-97c7-494e-ab46-85df661c8671",
      "name": "Loop Over Items4"
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "days"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1000,
        1580
      ],
      "id": "210a4e06-1c5b-4600-b9e1-0912a53139a5",
      "name": "Esperamos 2 días",
      "webhookId": "444388d9-a1c0-45f1-a0a5-b08ceb9ea783"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "Your only job is to check if the current date is a working date or not.\n\nWorking days:\nMonday\nTuesday\nWednesday\nThursday\nFriday\n\nOnly respond with YES or NO, nothing else.",
              "role": "system"
            },
            {
              "content": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1280,
        1580
      ],
      "id": "34d9a999-ea3c-4dcc-abb9-6bbd0cd72187",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "eEJ7dY14gZuZ6XoB",
          "name": "OpenAi Optima Quantum"
        }
      }
    },
    {
      "parameters": {
        "content": "Usa el modelo gpt-3.5-turbo para verificar si la fecha actual ($now) es un día laboral.\nDías laborales definidos: lunes, martes, miércoles, jueves, viernes.\nResponde únicamente con YES (sí) o NO (no).",
        "height": 260,
        "width": 340,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1260,
        1460
      ],
      "typeVersion": 1,
      "id": "53a0b06e-4137-4b67-b1d1-f7518b39655e",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e6fa734e-d850-4b22-a30a-538d7f822840",
              "leftValue": "={{ $json.message.content }}",
              "rightValue": "YES",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1660,
        1580
      ],
      "id": "b70ff5be-e40e-4eb2-a547-d24ceda5b6eb",
      "name": "If"
    },
    {
      "parameters": {
        "content": "Si es verdadero (día laboral): Procede a realizar la segunda llamada.",
        "height": 280,
        "width": 180
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1620,
        1460
      ],
      "typeVersion": 1,
      "id": "34dbbb97-4a07-4072-93a0-8a0841097ec4",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "content": "Realiza una solicitud POST a la API de Retell AI.\nUsa el número +34936940187 como origen y el número del lead (Phone_1) como destino, prefijado con +34.\nIncluye el nombre del lead (Name) como variable dinámica (nombre).\n",
        "height": 300,
        "width": 340,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1820,
        1420
      ],
      "typeVersion": 1,
      "id": "9ae9537c-0a2b-4fe4-8293-b83a231ea748",
      "name": "Sticky Note25"
    },
    {
      "parameters": {
        "url": "=https://api.retellai.com/v2/get-call/{{ $('Llamada saliente1').item.json.call_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer key_83c9176445a69ff250c6b9fa2f75"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        2040
      ],
      "id": "c253d480-c3e9-49dc-acdf-e306202bfb40",
      "name": "Transcripción2"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1380,
        2260
      ],
      "id": "887cc8df-dfd4-4772-a2a9-ae44c3a7e80b",
      "name": "Espera2",
      "webhookId": "8fdb9b02-7dd2-4e60-80bc-00be194ccda2"
    },
    {
      "parameters": {
        "content": "Consulta el estado de la llamada en la API de Retell AI.\nObtiene detalles como la transcripción y el análisis de la llamada.",
        "height": 300,
        "width": 200,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1240,
        1900
      ],
      "typeVersion": 1,
      "id": "d61a8a98-b8b7-4c98-929c-8224a3642f61",
      "name": "Sticky Note26"
    },
    {
      "parameters": {
        "content": "Si es verdadero (día laboral): Procede a realizar la segunda llamada.",
        "height": 300,
        "width": 220
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1480,
        1900
      ],
      "typeVersion": 1,
      "id": "73d65107-18c0-45e3-a49a-f47f8070957d",
      "name": "Sticky Note27"
    },
    {
      "parameters": {
        "content": "Evalúa si el usuario respondió, comprobando si **user_responded** en **call_analysis.custom_analysis_data** es **false**.\n▪ Si es verdadero (True, no respondió): Va a \"Tercera llamada\" para programar otro intento.\n▪ Si es falso (False, respondió): Va a \"Google Sheets1\" para registrar los resultados.",
        "height": 340,
        "width": 340
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1900,
        1880
      ],
      "typeVersion": 1,
      "id": "a20387b0-0878-498e-82ae-a94adcf9e473",
      "name": "Sticky Note28"
    },
    {
      "parameters": {
        "content": "# Tercera Llamada",
        "height": 400,
        "width": 940,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1240,
        1380
      ],
      "typeVersion": 1,
      "id": "10bb962c-e9d4-4a31-805d-3697f5902bd5",
      "name": "Sticky Note29"
    },
    {
      "parameters": {
        "content": "# Guardar Transcripción\n\n",
        "height": 780,
        "width": 1320,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1240,
        1800
      ],
      "typeVersion": 1,
      "id": "f85bbbe0-d327-4d78-9c2e-c85c4fb334cd",
      "name": "Sticky Note30"
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2260,
        1340
      ],
      "id": "0f85bad1-de8b-45a4-a6b6-d17a24060cad",
      "name": "Espera a que finalice la llamada2",
      "webhookId": "e49c4ab3-c53b-4ffb-a48c-20da701da88a"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "=optimadevops@gmail.com",
          "mode": "id",
          "__regex": "(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"
        },
        "timeMax": "={{ $now.plus({ week: 2 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        2440,
        1340
      ],
      "id": "6dc6c124-118e-448a-8b0b-18a8f3a14004",
      "name": "Google Calendar4",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "tTP9XnDiXPF1yuWv",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2260,
        1540
      ],
      "id": "a4ac049d-df67-48c0-9a1a-f92a93dc5b4f",
      "name": "Loop Over Items6"
    },
    {
      "parameters": {
        "content": "Registra en la base de datos que la llamada no ha sido realizada",
        "height": 280,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2280,
        1820
      ],
      "typeVersion": 1,
      "id": "e6e4dc94-ccf5-4a54-a3e9-2f89fdb810b5",
      "name": "Sticky Note31"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b0bfbae8-84c0-43a0-9783-96b02eeafec3",
              "leftValue": "={{ $json.call_status }}",
              "rightValue": "ended",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "4040b5d0-a4a0-4e52-b051-792888147b9f",
              "leftValue": "={{ $json.call_status }}",
              "rightValue": "error",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        40,
        1540
      ],
      "id": "eedbbc96-4657-418e-bf50-42cfddc28669",
      "name": "Ha acabado la llamada?1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c78d3787-23f8-4c91-9957-363510215ce8",
              "leftValue": "={{ $('Ha acabado la llamada?2').item.json.transcript }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2000,
        2060
      ],
      "id": "4631bb5b-6a79-4f24-9601-810f167b0ee1",
      "name": "El usuario ha respondido?2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b0bfbae8-84c0-43a0-9783-96b02eeafec3",
              "leftValue": "={{ $json.call_status }}",
              "rightValue": "ended",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "4040b5d0-a4a0-4e52-b051-792888147b9f",
              "leftValue": "={{ $json.call_status }}",
              "rightValue": "error",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1520,
        2060
      ],
      "id": "b396d919-e02d-4bf5-85f8-93bea715feaa",
      "name": "Ha acabado la llamada?2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/v2/create-phone-call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer key_83c9176445a69ff250c6b9fa2f75"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"from_number\": \"+34919932145\",\n  \"to_number\": \"{{ $('MySQL Tabla Customer').item.json.phone }}\",\n  \"retell_llm_dynamic_variables\": {\n    \"nombre\": \"{{ $('MySQL Tabla Customer').item.json.contact_name }}\"  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1940,
        1560
      ],
      "id": "add7eed4-5f8c-4615-b2bf-646b95cd3aa3",
      "name": "Tercera Llamada"
    },
    {
      "parameters": {
        "jsCode": "// Función para formatear la fecha\nfunction formatDate(date) {\n    const year = date.getFullYear();\n    const month = String(date.getMonth() + 1).padStart(2, '0');\n    const day = String(date.getDate()).padStart(2, '0');\n    const hours = String(date.getHours()).padStart(2, '0');\n    const minutes = String(date.getMinutes()).padStart(2, '0');\n    const seconds = String(date.getSeconds()).padStart(2, '0');\n    \n    return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;\n}\n\n// Obtener la fecha y hora actuales en la zona horaria de España\nconst currentDate = new Date().toLocaleString('en-US', { timeZone: 'Europe/Madrid' });\nconst formattedDate = formatDate(new Date(currentDate));\n\n// Retornar el resultado en el formato esperado por n8n\nreturn [{\n    json: {\n        datetime: formattedDate\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        380
      ],
      "id": "301663a5-9b97-4680-afe3-16f59f8c2c65",
      "name": "DataTime",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Función para formatear la fecha\nfunction formatDate(date) {\n    const year = date.getFullYear();\n    const month = String(date.getMonth() + 1).padStart(2, '0');\n    const day = String(date.getDate()).padStart(2, '0');\n    const hours = String(date.getHours()).padStart(2, '0');\n    const minutes = String(date.getMinutes()).padStart(2, '0');\n    const seconds = String(date.getSeconds()).padStart(2, '0');\n    \n    return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;\n}\n\n// Obtener la fecha y hora actuales en la zona horaria de España\nconst currentDate = new Date().toLocaleString('en-US', { timeZone: 'Europe/Madrid' });\nconst formattedDate = formatDate(new Date(currentDate));\n\n// Retornar el resultado en el formato esperado por n8n\nreturn [{\n    json: {\n        datetime: formattedDate\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        1540
      ],
      "id": "633e0807-0562-43ef-aa52-eef6d432b382",
      "name": "DataTime1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Función para formatear la fecha\nfunction formatDate(date) {\n    const year = date.getFullYear();\n    const month = String(date.getMonth() + 1).padStart(2, '0');\n    const day = String(date.getDate()).padStart(2, '0');\n    const hours = String(date.getHours()).padStart(2, '0');\n    const minutes = String(date.getMinutes()).padStart(2, '0');\n    const seconds = String(date.getSeconds()).padStart(2, '0');\n    \n    return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;\n}\n\n// Obtener la fecha y hora actuales en la zona horaria de España\nconst currentDate = new Date().toLocaleString('en-US', { timeZone: 'Europe/Madrid' });\nconst formattedDate = formatDate(new Date(currentDate));\n\n// Retornar el resultado en el formato esperado por n8n\nreturn [{\n    json: {\n        datetime: formattedDate\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        2040
      ],
      "id": "61e4c1da-b63a-46c0-ab7f-0d01286199a9",
      "name": "DataTime2",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "Guardamos el Output de la llammada en la base de datos.",
        "height": 440,
        "width": 220,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        700,
        1620
      ],
      "typeVersion": 1,
      "id": "7531e3e8-739e-42ce-9771-61a86beec51e",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "customer",
          "mode": "list",
          "cachedResultName": "customer"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "place_id",
        "valueToMatchOn": "={{ $('MySQL Tabla Customer').item.json.place_id }}",
        "valuesToSend": {
          "values": [
            {
              "column": "is_contacted",
              "value": "0"
            },
            {
              "column": "first_contact",
              "value": "={{ $('MySQL Tabla Customer').item.json.created_at }}"
            },
            {
              "column": "last_contact",
              "value": "={{ $('DataTime').item.json.datetime }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5fc49d18-10aa-4e64-8472-4e99378cb920",
      "name": "DB Customer (Llamada no realizada)1",
      "type": "n8n-nodes-base.mySql",
      "position": [
        760,
        1420
      ],
      "typeVersion": 2.1,
      "credentials": {
        "mySql": {
          "id": "l3Xgr9sCVnJ3NZHu",
          "name": "MySQL account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "customer",
          "mode": "list",
          "cachedResultName": "customer"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "place_id",
        "valueToMatchOn": "={{ $('MySQL Tabla Customer').item.json.place_id }}",
        "valuesToSend": {
          "values": [
            {
              "column": "first_contact",
              "value": "={{ $('MySQL Tabla Customer').item.json.created_at }}"
            },
            {
              "column": "last_contact",
              "value": "={{ $('DataTime').item.json.datetime }}"
            },
            {
              "column": "is_contacted",
              "value": "1"
            },
            {
              "column": "company_name",
              "value": "={{ $('MySQL Tabla Customer').item.json.company_name }}"
            },
            {
              "column": "contact_name",
              "value": "={{ $('MySQL Tabla Customer').item.json.contact_name }}"
            },
            {
              "column": "phone",
              "value": "={{ $('MySQL Tabla Customer').item.json.phone }}"
            },
            {
              "column": "email",
              "value": "={{ $('MySQL Tabla Customer').item.json.email }}"
            },
            {
              "column": "company_size_id",
              "value": "={{ $('MySQL Tabla Customer').item.json.company_size_id }}"
            },
            {
              "column": "industry_id",
              "value": "={{ $('MySQL Tabla Customer').item.json.industry_id }}"
            },
            {
              "column": "origin_id",
              "value": "={{ $('MySQL Tabla Customer').item.json.origin_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1c1fb015-e2f7-4f4b-a433-d1d0057d6670",
      "name": "DB Customert (Llamada Realizada)1",
      "type": "n8n-nodes-base.mySql",
      "position": [
        760,
        1680
      ],
      "typeVersion": 2.1,
      "credentials": {
        "mySql": {
          "id": "l3Xgr9sCVnJ3NZHu",
          "name": "MySQL account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "contactcustomer",
          "mode": "list",
          "cachedResultName": "contactcustomer"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "place_id",
        "valueToMatchOn": "={{ $('MySQL Tabla Customer').item.json.place_id }}",
        "valuesToSend": {
          "values": [
            {
              "column": "date",
              "value": "={{ $('MySQL Tabla Customer').item.json.created_at }}"
            },
            {
              "column": "call_id",
              "value": "={{ $('Ha acabado la llamada?').item.json.call_id }}"
            },
            {
              "column": "status",
              "value": "="
            },
            {
              "column": "transcription",
              "value": "={{ $('Ha acabado la llamada?').item.json.transcript }}"
            },
            {
              "column": "recording",
              "value": "={{ $('Ha acabado la llamada?').item.json.recording_url }}"
            },
            {
              "column": "feeling",
              "value": "={{ $('Ha acabado la llamada?').item.json.call_analysis.user_sentiment }}"
            },
            {
              "column": "notes",
              "value": "={{ $('Ha acabado la llamada?').item.json.call_analysis.call_summary }}"
            },
            {
              "column": "duration_ms",
              "value": "={{ $('Ha acabado la llamada?').item.json.duration_ms }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1e40bf79-8996-47c7-962a-0662d228835c",
      "name": "DB Contactcustomer (Llamada Realizada)1",
      "type": "n8n-nodes-base.mySql",
      "position": [
        760,
        1860
      ],
      "typeVersion": 2.1,
      "credentials": {
        "mySql": {
          "id": "l3Xgr9sCVnJ3NZHu",
          "name": "MySQL account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "Guardamos el Output de la llammada en la base de datos.",
        "height": 440,
        "width": 220,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2280,
        2120
      ],
      "typeVersion": 1,
      "id": "ed3e5053-d5e5-4d56-bb12-c0f1f9cca48a",
      "name": "Sticky Note24"
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "customer",
          "mode": "list",
          "cachedResultName": "customer"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "place_id",
        "valueToMatchOn": "={{ $('MySQL Tabla Customer').item.json.place_id }}",
        "valuesToSend": {
          "values": [
            {
              "column": "is_contacted",
              "value": "0"
            },
            {
              "column": "first_contact",
              "value": "={{ $('MySQL Tabla Customer').item.json.created_at }}"
            },
            {
              "column": "last_contact",
              "value": "={{ $('DataTime').item.json.datetime }}"
            },
            {
              "column": "extra_info",
              "value": "Untraceable"
            }
          ]
        },
        "options": {}
      },
      "id": "764458b6-a0de-4d7d-b41b-4895362ae0a3",
      "name": "DB Customer (Llamada no realizada)2",
      "type": "n8n-nodes-base.mySql",
      "position": [
        2340,
        1920
      ],
      "typeVersion": 2.1,
      "credentials": {
        "mySql": {
          "id": "l3Xgr9sCVnJ3NZHu",
          "name": "MySQL account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "customer",
          "mode": "list",
          "cachedResultName": "customer"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "place_id",
        "valueToMatchOn": "={{ $('MySQL Tabla Customer').item.json.place_id }}",
        "valuesToSend": {
          "values": [
            {
              "column": "first_contact",
              "value": "={{ $('MySQL Tabla Customer').item.json.created_at }}"
            },
            {
              "column": "last_contact",
              "value": "={{ $('DataTime').item.json.datetime }}"
            },
            {
              "column": "is_contacted",
              "value": "1"
            },
            {
              "column": "company_name",
              "value": "={{ $('MySQL Tabla Customer').item.json.company_name }}"
            },
            {
              "column": "contact_name",
              "value": "={{ $('MySQL Tabla Customer').item.json.contact_name }}"
            },
            {
              "column": "phone",
              "value": "={{ $('MySQL Tabla Customer').item.json.phone }}"
            },
            {
              "column": "email",
              "value": "={{ $('MySQL Tabla Customer').item.json.email }}"
            },
            {
              "column": "company_size_id",
              "value": "={{ $('MySQL Tabla Customer').item.json.company_size_id }}"
            },
            {
              "column": "industry_id",
              "value": "={{ $('MySQL Tabla Customer').item.json.industry_id }}"
            },
            {
              "column": "origin_id",
              "value": "={{ $('MySQL Tabla Customer').item.json.origin_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "075eeee4-ed8b-45fe-98a5-eb8325e316a9",
      "name": "DB Customert (Llamada Realizada)2",
      "type": "n8n-nodes-base.mySql",
      "position": [
        2340,
        2200
      ],
      "typeVersion": 2.1,
      "credentials": {
        "mySql": {
          "id": "l3Xgr9sCVnJ3NZHu",
          "name": "MySQL account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "contactcustomer",
          "mode": "list",
          "cachedResultName": "contactcustomer"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "place_id",
        "valueToMatchOn": "={{ $('MySQL Tabla Customer').item.json.place_id }}",
        "valuesToSend": {
          "values": [
            {
              "column": "date",
              "value": "={{ $('MySQL Tabla Customer').item.json.created_at }}"
            },
            {
              "column": "call_id",
              "value": "={{ $('Ha acabado la llamada?').item.json.call_id }}"
            },
            {
              "column": "status",
              "value": "="
            },
            {
              "column": "transcription",
              "value": "={{ $('Ha acabado la llamada?').item.json.transcript }}"
            },
            {
              "column": "recording",
              "value": "={{ $('Ha acabado la llamada?').item.json.recording_url }}"
            },
            {
              "column": "feeling",
              "value": "={{ $('Ha acabado la llamada?').item.json.call_analysis.user_sentiment }}"
            },
            {
              "column": "notes",
              "value": "={{ $('Ha acabado la llamada?').item.json.call_analysis.call_summary }}"
            },
            {
              "column": "duration_ms",
              "value": "={{ $('Ha acabado la llamada?').item.json.duration_ms }}"
            }
          ]
        },
        "options": {}
      },
      "id": "87f62160-3bec-406c-a49e-18f88ac78b2a",
      "name": "DB Contactcustomer (Llamada Realizada)2",
      "type": "n8n-nodes-base.mySql",
      "position": [
        2340,
        2380
      ],
      "typeVersion": 2.1,
      "credentials": {
        "mySql": {
          "id": "l3Xgr9sCVnJ3NZHu",
          "name": "MySQL account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "1b25bc2d-ec6a-435b-847b-5aadb25e7d3c",
              "leftValue": "={{ $json.is_contacted }}",
              "rightValue": "=False",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1760,
        660
      ],
      "id": "631b484f-6fde-4e40-a69d-9cc5762c1914",
      "name": "If2"
    },
    {
      "parameters": {
        "fromEmail": "no-reply@smartcalls.biz",
        "toEmail": "=info@smartcalls.biz",
        "subject": "SmartCalls",
        "emailFormat": "text",
        "text": "=Se confirmar nuestra reunión con {{ $json.nombre }}, programada para el {{ $json.fecha_meet }} a las {{ $json.hora_meet_nueva }}. La reunión se realizará a través de la pltaforma de videollamada Google Meet.\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1860,
        1100
      ],
      "id": "e7a80e50-1983-4099-8e0a-14f5af0779b1",
      "name": "Correo Verificación Nuestro1",
      "webhookId": "e1dbea9c-06bd-4f05-9263-bd5d5df944e2",
      "credentials": {
        "smtp": {
          "id": "Dx9eTPsVTPlyb1CQ",
          "name": "SMTP SmartCalls"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "no-reply@smartcalls.biz",
        "toEmail": "={{ $('MySQL Tabla Customer').item.json.email }}",
        "subject": "Confirmación de tu reunión con SmartCalls",
        "emailFormat": "text",
        "text": "=Estimado/a {{ $('Loop Over Items5').item.json.nombre }},\n\n¡Gracias por agendar una reunión con el equipo de SmartCalls!\n\n\nTe confirmamos que nuestra videollamada está programada para el {{ $('Loop Over Items5').item.json.fecha_meet }} a las {{ $('Loop Over Items5').item.json.hora_meet_nueva }}. Nos conectaremos a través de la plataforma Google Meet para conocerte mejor, entender tu negocio y explicarte cómo nuestros agentes de voz con inteligencia artificial pueden ayudarte a automatizar procesos y mejorar tu atención al cliente.\n\nSi tienes cualquier duda o inconveniente antes de la reunión, no dudes en contactarnos. Estaremos encantados de ayudarte.\n\nSitio web: smartcalls.biz\nEmail: info@smartcalls.biz\n\n¡Nos vemos muy pronto!\n\nUn cordial saludo,\nEl equipo de SmartCalls",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2040,
        1100
      ],
      "id": "ea4eac2e-9da9-4c9d-87a6-b053316c774c",
      "name": "Correo Verificación Cliente1",
      "webhookId": "e1dbea9c-06bd-4f05-9263-bd5d5df944e2",
      "credentials": {
        "smtp": {
          "id": "oeCZi0SPK0YnqPkA",
          "name": "SMTP OptimaQuantum"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtener el texto del campo \"description\" del primer ítem\nconst description = $input.first().json.description;\n\n// Dividir el texto en líneas\nconst lines = description.split('\\n');\n\n// Variables para almacenar los datos extraídos\nlet meetLink = '';\nlet phoneNumber = '';\nlet phoneFound = false;\n\n// Recorrer las líneas para buscar los datos\nfor (const line of lines) {\n  // Enlace del Meet (línea con \"https://meet.google.com\")\n  if (line.includes('https://meet.google.com')) {\n    meetLink = line.trim();\n  }\n  // Número de teléfono (línea después de \"telefono:\")\n  if (phoneFound) {\n    phoneNumber = line.trim();\n    phoneFound = false; // Resetear para no seguir buscando\n  }\n  if (line.trim() === 'telefono:') {\n    phoneFound = true; // Marcar que la siguiente línea es el número\n  }\n}\n\n// Devolver los datos extraídos junto con los datos del JSON original\nreturn [{\n  json: {\n    nombre: $input.first().json.nombre,\n    email_cliente: $input.first().json.email_cliente,\n    hora_meet: $input.first().json.hora_meet,\n    meetLink: meetLink,\n    phoneNumber: phoneNumber\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        1080
      ],
      "id": "f964bea1-3a1e-4fe8-b807-b6381409527d",
      "name": "CodeFiltrarDatosCalendar3"
    },
    {
      "parameters": {
        "jsCode": "// Obtener el primer ítem del input\nconst item = $input.first().json;\n\n// Parsear la fecha del campo \"hora_meet\" para la fecha\nconst fechaOriginal = new Date(item.hora_meet);\n\n// Extraer día, mes y año\nconst dia = fechaOriginal.getDate().toString().padStart(2, '0');\nconst mes = (fechaOriginal.getMonth() + 1).toString().padStart(2, '0');\nconst anio = fechaOriginal.getFullYear();\n\n// Extraer la hora y los minutos directamente del string ISO\nconst horaMeetString = item.hora_meet; // \"2025-04-11T17:00:00+02:00\"\nconst horaPartes = horaMeetString.split('T')[1].split(':'); // [\"17\", \"00\", \"00+02:00\"]\nconst horas = horaPartes[0]; // \"17\"\nconst minutos = horaPartes[1]; // \"00\"\n\n// Formatear la fecha y la hora\nconst fechaMeet = `${dia}-${mes}-${anio}`;\nconst horaMeetNueva = `${horas}:${minutos}`;\n\n// Devolver el objeto con los campos originales más los nuevos\nreturn [{\n  json: {\n    nombre: item.nombre,\n    email_cliente: item.email_cliente,\n    meetLink: item.meetLink,\n    phoneNumber: item.phoneNumber,\n    fecha_meet: fechaMeet,\n    hora_meet_nueva: horaMeetNueva\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        1080
      ],
      "id": "d55c6392-8b66-449e-b82f-33669769f6eb",
      "name": "CodeHora3"
    },
    {
      "parameters": {
        "amount": 50
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2260,
        1120
      ],
      "id": "d94edace-0af4-4dbb-9b58-c2a8be654858",
      "name": "Wait2",
      "webhookId": "0d3acc29-9f8c-4be9-9e48-89e69cb9a52d"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1700,
        1080
      ],
      "id": "5a97b63e-2330-4a33-8ebf-69de1377e854",
      "name": "Loop Over Items5"
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1500,
        1080
      ],
      "id": "8273e701-fcb4-4a13-bea6-3c7480c2f622",
      "name": "Wait3",
      "webhookId": "4293b5b7-da7c-4270-b5a3-090f77835fba"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1b25bc2d-ec6a-435b-847b-5aadb25e7d3c",
              "leftValue": "={{ $json.is_contacted }}",
              "rightValue": "=0",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        980,
        1100
      ],
      "id": "322c701c-735d-4ca6-ba1b-ed6a13ce56ae",
      "name": "If3"
    },
    {
      "parameters": {
        "fromEmail": "no-reply@smartcalls.biz",
        "toEmail": "=info@smartcalls.biz",
        "subject": "SmartCalls",
        "emailFormat": "text",
        "text": "=Se confirmar nuestra reunión con {{ $json.nombre }}, programada para el {{ $json.fecha_meet }} a las {{ $json.hora_meet_nueva }}. La reunión se realizará a través de la pltaforma de videollamada Google Meet.\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        3320,
        1580
      ],
      "id": "dc6c82d5-e7e6-46d3-a6c2-68c148b2666e",
      "name": "Correo Verificación Nuestro2",
      "webhookId": "e1dbea9c-06bd-4f05-9263-bd5d5df944e2",
      "credentials": {
        "smtp": {
          "id": "Dx9eTPsVTPlyb1CQ",
          "name": "SMTP SmartCalls"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "no-reply@smartcalls.biz",
        "toEmail": "={{ $('MySQL Tabla Customer').item.json.email }}",
        "subject": "Confirmación de tu reunión con SmartCalls",
        "emailFormat": "text",
        "text": "=Estimado/a {{ $('Loop Over Items7').item.json.nombre }},\n\n¡Gracias por agendar una reunión con el equipo de SmartCalls!\n\n\nTe confirmamos que nuestra videollamada está programada para el {{ $('Loop Over Items7').item.json.fecha_meet }} a las {{ $('Loop Over Items7').item.json.hora_meet_nueva }}. Nos conectaremos a través de la plataforma Google Meet para conocerte mejor, entender tu negocio y explicarte cómo nuestros agentes de voz con inteligencia artificial pueden ayudarte a automatizar procesos y mejorar tu atención al cliente.\n\nSi tienes cualquier duda o inconveniente antes de la reunión, no dudes en contactarnos. Estaremos encantados de ayudarte.\n\nSitio web: smartcalls.biz\nEmail: info@smartcalls.biz\n\n¡Nos vemos muy pronto!\n\nUn cordial saludo,\nEl equipo de SmartCalls",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        3500,
        1580
      ],
      "id": "f6ae45ee-b7ff-43f2-bb6a-74e195a3664a",
      "name": "Correo Verificación Cliente2",
      "webhookId": "e1dbea9c-06bd-4f05-9263-bd5d5df944e2",
      "credentials": {
        "smtp": {
          "id": "Dx9eTPsVTPlyb1CQ",
          "name": "SMTP SmartCalls"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtener el texto del campo \"description\" del primer ítem\nconst description = $input.first().json.description;\n\n// Dividir el texto en líneas\nconst lines = description.split('\\n');\n\n// Variables para almacenar los datos extraídos\nlet meetLink = '';\nlet phoneNumber = '';\nlet phoneFound = false;\n\n// Recorrer las líneas para buscar los datos\nfor (const line of lines) {\n  // Enlace del Meet (línea con \"https://meet.google.com\")\n  if (line.includes('https://meet.google.com')) {\n    meetLink = line.trim();\n  }\n  // Número de teléfono (línea después de \"telefono:\")\n  if (phoneFound) {\n    phoneNumber = line.trim();\n    phoneFound = false; // Resetear para no seguir buscando\n  }\n  if (line.trim() === 'telefono:') {\n    phoneFound = true; // Marcar que la siguiente línea es el número\n  }\n}\n\n// Devolver los datos extraídos junto con los datos del JSON original\nreturn [{\n  json: {\n    nombre: $input.first().json.nombre,\n    email_cliente: $input.first().json.email_cliente,\n    hora_meet: $input.first().json.hora_meet,\n    meetLink: meetLink,\n    phoneNumber: phoneNumber\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2600,
        1560
      ],
      "id": "ebe08acc-ad94-4936-8584-472b83117d68",
      "name": "CodeFiltrarDatosCalendar4"
    },
    {
      "parameters": {
        "jsCode": "// Obtener el primer ítem del input\nconst item = $input.first().json;\n\n// Parsear la fecha del campo \"hora_meet\" para la fecha\nconst fechaOriginal = new Date(item.hora_meet);\n\n// Extraer día, mes y año\nconst dia = fechaOriginal.getDate().toString().padStart(2, '0');\nconst mes = (fechaOriginal.getMonth() + 1).toString().padStart(2, '0');\nconst anio = fechaOriginal.getFullYear();\n\n// Extraer la hora y los minutos directamente del string ISO\nconst horaMeetString = item.hora_meet; // \"2025-04-11T17:00:00+02:00\"\nconst horaPartes = horaMeetString.split('T')[1].split(':'); // [\"17\", \"00\", \"00+02:00\"]\nconst horas = horaPartes[0]; // \"17\"\nconst minutos = horaPartes[1]; // \"00\"\n\n// Formatear la fecha y la hora\nconst fechaMeet = `${dia}-${mes}-${anio}`;\nconst horaMeetNueva = `${horas}:${minutos}`;\n\n// Devolver el objeto con los campos originales más los nuevos\nreturn [{\n  json: {\n    nombre: item.nombre,\n    email_cliente: item.email_cliente,\n    meetLink: item.meetLink,\n    phoneNumber: item.phoneNumber,\n    fecha_meet: fechaMeet,\n    hora_meet_nueva: horaMeetNueva\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2780,
        1560
      ],
      "id": "3f733683-7d30-441b-8e00-4f4bb53ddecb",
      "name": "CodeHora4"
    },
    {
      "parameters": {
        "amount": 50
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3720,
        1600
      ],
      "id": "63acc35c-cd18-4d88-8155-6a58cf6968f4",
      "name": "Wait4",
      "webhookId": "0d3acc29-9f8c-4be9-9e48-89e69cb9a52d"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3120,
        1560
      ],
      "id": "4041f9d7-9735-4626-90ae-735be76c1847",
      "name": "Loop Over Items7"
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2920,
        1560
      ],
      "id": "c2fbe298-1ee2-47a7-8976-0bd4e6848395",
      "name": "Wait5",
      "webhookId": "4293b5b7-da7c-4270-b5a3-090f77835fba"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1b25bc2d-ec6a-435b-847b-5aadb25e7d3c",
              "leftValue": "={{ $json.is_contacted }}",
              "rightValue": "=0",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2420,
        1620
      ],
      "id": "ed6f721c-0575-45d1-bff4-ffdfe08d12e3",
      "name": "If4"
    },
    {
      "parameters": {
        "amount": 50
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -460,
        620
      ],
      "id": "774655c7-53a1-4dcc-80b8-c1bc1f63968b",
      "name": "Wait",
      "webhookId": "0d3acc29-9f8c-4be9-9e48-89e69cb9a52d",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e72b5ae6-3fee-4b62-8c08-2449d6862ba9",
              "name": "nombre",
              "value": "={{ $json.summary }}",
              "type": "string"
            },
            {
              "id": "fd810296-0902-4b12-8a37-96e628daa024",
              "name": "email_cliente",
              "value": "={{ $('MySQL Tabla Customer').item.json.email }}",
              "type": "string"
            },
            {
              "id": "45da3f8f-1a3f-44b9-9556-a7eb8c662080",
              "name": "hora_meet",
              "value": "={{ $json.start.dateTime }}",
              "type": "string"
            },
            {
              "id": "78d0c73e-515a-450a-943d-52fe1d85b1e2",
              "name": "description",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "22db8ebe-1318-47c8-ac90-e7fcbefa5404",
              "name": "email_empresa",
              "value": "={{ $json.attendees[0].email }}",
              "type": "string"
            },
            {
              "id": "6a0ce824-b068-4259-9045-1dd9c8175152",
              "name": "is_contacted",
              "value": 0,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1160,
        840
      ],
      "id": "e94f6013-4e5f-4400-9f6d-38e3345e4884",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e72b5ae6-3fee-4b62-8c08-2449d6862ba9",
              "name": "nombre",
              "value": "={{ $json.summary }}",
              "type": "string"
            },
            {
              "id": "fd810296-0902-4b12-8a37-96e628daa024",
              "name": "email_cliente",
              "value": "={{ $('MySQL Tabla Customer').item.json.email }}",
              "type": "string"
            },
            {
              "id": "45da3f8f-1a3f-44b9-9556-a7eb8c662080",
              "name": "hora_meet",
              "value": "={{ $json.start.dateTime }}",
              "type": "string"
            },
            {
              "id": "78d0c73e-515a-450a-943d-52fe1d85b1e2",
              "name": "description",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "22db8ebe-1318-47c8-ac90-e7fcbefa5404",
              "name": "email_empresa",
              "value": "={{ $json.attendees[0].email }}",
              "type": "string"
            },
            {
              "id": "6a0ce824-b068-4259-9045-1dd9c8175152",
              "name": "is_contacted",
              "value": 0,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2620,
        1340
      ],
      "id": "be538baf-6dab-4dde-81a8-c13155df9281",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "fromEmail": "no-reply@smartcalls.biz",
        "toEmail": "={{ $('MySQL Tabla Customer').item.json.email }}",
        "subject": "Intentamos contactarte – ¿Reagendamos la reunión?",
        "emailFormat": "text",
        "text": "=Estimado/a {{ $('MySQL Tabla Customer').item.json.contact_name }},\n\nHemos intentado ponernos en contacto contigo recientemente para hablar sobre cómo SmartCalls puede ayudarte a optimizar y automatizar la gestión de llamadas en tu negocio, pero no conseguimos hablar contigo.\n\nNos encantaría tener una breve conversación contigo. Nuestro sistema de agentes de voz con inteligencia artificial puede ayudarte a ahorrar tiempo, reducir costes y mejorar la atención al cliente, todo de forma automática y disponible 24/7.\n\nSi lo deseas, podemos reprogramar la videollamada en el momento que mejor te venga. Será un placer mostrarte cómo podemos aportar valor a tu empresa.\n\nSitio web: https://smartcalls.biz\nEmail: info@smartcalls.biz\nTel: + 34 919932145\nTel: + 1 332 232 7483\n\nEstamos a tu disposición para cualquier consulta.\n\nUn cordial saludo,\nEl equipo de SmartCalls",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1180,
        120
      ],
      "id": "1c62afa9-90ff-47fa-9501-ba8b51296cd4",
      "name": "Sin Contacto Email Informativo",
      "webhookId": "e1dbea9c-06bd-4f05-9263-bd5d5df944e2",
      "credentials": {
        "smtp": {
          "id": "Dx9eTPsVTPlyb1CQ",
          "name": "SMTP SmartCalls"
        }
      }
    },
    {
      "parameters": {
        "path": "e91b5167-42d1-4b72-a3a6-a3f46dd0786e",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1900,
        400
      ],
      "id": "092fc50c-ac66-49d4-8941-3372c3ab5aa1",
      "name": "Webhook1",
      "webhookId": "e91b5167-42d1-4b72-a3a6-a3f46dd0786e"
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1740,
        400
      ],
      "id": "510c266d-3559-4c8a-89a5-9076b5a36fd6",
      "name": "Wait6",
      "webhookId": "36c73ef1-5a0f-401b-9e6a-19b10c4ea5a5",
      "disabled": true
    },
    {
      "parameters": {
        "fromEmail": "no-reply@smartcalls.biz",
        "toEmail": "=no-reply@smartcalls.biz",
        "subject": "Intentamos contactarte – ¿Reagendamos la reunión?",
        "emailFormat": "text",
        "text": "=Estimado/a {{ $('MySQL Tabla Customer').item.json.contact_name }},\n\nHemos intentado ponernos en contacto contigo recientemente para hablar sobre cómo SmartCalls puede ayudarte a optimizar y automatizar la gestión de llamadas en tu negocio, pero no conseguimos hablar contigo.\n\nNos encantaría tener una breve conversación contigo. Nuestro sistema de agentes de voz con inteligencia artificial puede ayudarte a ahorrar tiempo, reducir costes y mejorar la atención al cliente, todo de forma automática y disponible 24/7.\n\nSi lo deseas, podemos reprogramar la videollamada en el momento que mejor te venga. Será un placer mostrarte cómo podemos aportar valor a tu empresa.\n\nSitio web: https://smartcalls.biz\nEmail: info@smartcalls.biz\nTel: + 34 919932145\nTel: + 1 332 232 7483\n\nEstamos a tu disposición para cualquier consulta.\n\nUn cordial saludo,\nEl equipo de SmartCalls",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1020,
        1340
      ],
      "id": "12a5d1bc-f0b6-400e-a377-7c610630033d",
      "name": "Sin Contacto Email Informativo1",
      "webhookId": "e1dbea9c-06bd-4f05-9263-bd5d5df944e2",
      "credentials": {
        "smtp": {
          "id": "Dx9eTPsVTPlyb1CQ",
          "name": "SMTP SmartCalls"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "no-reply@smartcalls.biz",
        "toEmail": "=no-reply@smartcalls.biz",
        "subject": "Intentamos contactarte – ¿Reagendamos la reunión?",
        "emailFormat": "text",
        "text": "=Estimado/a {{ $('MySQL Tabla Customer').item.json.contact_name }},\n\nHemos intentado ponernos en contacto contigo recientemente para hablar sobre cómo SmartCalls puede ayudarte a optimizar y automatizar la gestión de llamadas en tu negocio, pero no conseguimos hablar contigo.\n\nNos encantaría tener una breve conversación contigo. Nuestro sistema de agentes de voz con inteligencia artificial puede ayudarte a ahorrar tiempo, reducir costes y mejorar la atención al cliente, todo de forma automática y disponible 24/7.\n\nSi lo deseas, podemos reprogramar la videollamada en el momento que mejor te venga. Será un placer mostrarte cómo podemos aportar valor a tu empresa.\n\nSitio web: https://smartcalls.biz\nEmail: info@smartcalls.biz\nTel: + 34 919932145\nTel: + 1 332 232 7483\n\nEstamos a tu disposición para cualquier consulta.\n\nUn cordial saludo,\nEl equipo de SmartCalls",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2620,
        1920
      ],
      "id": "4d1a73eb-bd7d-41a6-a208-b1a1e1213379",
      "name": "Sin Contacto Email Informativo2",
      "webhookId": "e1dbea9c-06bd-4f05-9263-bd5d5df944e2",
      "credentials": {
        "smtp": {
          "id": "Dx9eTPsVTPlyb1CQ",
          "name": "SMTP SmartCalls"
        }
      }
    },
    {
      "parameters": {
        "content": "Registra en la base de datos que la llamada no ha sido realizada",
        "height": 280,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        700,
        1320
      ],
      "typeVersion": 1,
      "id": "6294ca2b-aec1-48c9-9526-348d84ff9a55",
      "name": "Sticky Note32"
    }
  ],
  "pinData": {
    "Espera a que finalice la llamada1": [
      {
        "json": {
          "call_id": "call_38aa579a4d99444509df0eb8d65",
          "call_type": "phone_call",
          "agent_id": "agent_fbb1960077e02a19d10f51799f",
          "retell_llm_dynamic_variables": {
            "nombre": "Alex Martin"
          },
          "call_status": "registered",
          "latency": {},
          "call_cost": {
            "product_costs": [],
            "total_duration_seconds": 0,
            "total_duration_unit_price": 0,
            "total_one_time_price": 0,
            "combined_cost": 0
          },
          "opt_out_sensitive_data_storage": false,
          "opt_in_signed_url": false,
          "from_number": "+34919932145",
          "to_number": "+34653289661",
          "direction": "outbound"
        }
      }
    ],
    "Espera a que finalice la llamada2": [
      {
        "json": {
          "call_id": "call_38aa579a4d99444509df0eb8d65",
          "call_type": "phone_call",
          "agent_id": "agent_fbb1960077e02a19d10f51799f",
          "retell_llm_dynamic_variables": {
            "nombre": "Alex Martin"
          },
          "call_status": "registered",
          "latency": {},
          "call_cost": {
            "product_costs": [],
            "total_duration_seconds": 0,
            "total_duration_unit_price": 0,
            "total_one_time_price": 0,
            "combined_cost": 0
          },
          "opt_out_sensitive_data_storage": false,
          "opt_in_signed_url": false,
          "from_number": "+34919932145",
          "to_number": "+34653289661",
          "direction": "outbound"
        }
      }
    ]
  },
  "connections": {
    "OpenAI2": {
      "main": [
        [
          {
            "node": "Llamada saliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL Tabla Customer": {
      "main": [
        [
          {
            "node": "OpenAI2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Llamada saliente": {
      "main": [
        [
          {
            "node": "Espera a que finalice la llamada",
            "type": "main",
            "index": 0
          },
          {
            "node": "Transcripción",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Espera a que finalice la llamada": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Correo Verificación Nuestro": {
      "main": [
        [
          {
            "node": "Correo Verificación Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Correo Verificación Cliente": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Correo Cliente un día antes del Meet a las 19:": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar2": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmar Meet 30 min antes": {
      "main": [
        [
          {
            "node": "Google Calendar2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmar Meet 19:00 del día anterior": {
      "main": [
        [
          {
            "node": "Google Calendar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "CodeFiltrarDatosCalendar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "CodeFiltrarDatosCalendar2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CodeFiltrarDatosCalendar2": {
      "main": [
        [
          {
            "node": "CodeHora2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CodeHora2": {
      "main": [
        [
          {
            "node": "Correo Cliente 30 min antes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CodeFiltrarDatosCalendar1": {
      "main": [
        [
          {
            "node": "CodeHora1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CodeHora1": {
      "main": [
        [
          {
            "node": "Correo Cliente un día antes del Meet a las 19:",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CodeFiltrarDatosCalendar": {
      "main": [
        [
          {
            "node": "CodeHora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CodeHora": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Correo Verificación Nuestro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcripción": {
      "main": [
        [
          {
            "node": "Ha acabado la llamada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Espera": {
      "main": [
        [
          {
            "node": "Transcripción",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ha acabado la llamada?": {
      "main": [
        [
          {
            "node": "DataTime",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Espera",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "El usuario ha respondido?": {
      "main": [
        [
          {
            "node": "DB Customer (Llamada no realizada)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DB Customert (Llamada Realizada)",
            "type": "main",
            "index": 0
          },
          {
            "node": "DB Contactcustomer (Llamada Realizada)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperamos 24 horas": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Segunda Llamada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Segunda Llamada": {
      "main": [
        [
          {
            "node": "Transcripción1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Espera a que finalice la llamada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcripción1": {
      "main": [
        [
          {
            "node": "Ha acabado la llamada?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Espera1": {
      "main": [
        [
          {
            "node": "Transcripción1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "El usuario ha respondido?1": {
      "main": [
        [
          {
            "node": "DB Customer (Llamada no realizada)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DB Customert (Llamada Realizada)1",
            "type": "main",
            "index": 0
          },
          {
            "node": "DB Contactcustomer (Llamada Realizada)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Customer (Llamada no realizada)": {
      "main": [
        [
          {
            "node": "Esperamos 24 horas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sin Contacto Email Informativo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Espera a que finalice la llamada1": {
      "main": [
        [
          {
            "node": "Google Calendar3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar3": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items4": {
      "main": [
        [],
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperamos 2 días": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Tercera Llamada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcripción2": {
      "main": [
        [
          {
            "node": "Ha acabado la llamada?2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Espera2": {
      "main": [
        [
          {
            "node": "Transcripción2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Espera a que finalice la llamada2": {
      "main": [
        [
          {
            "node": "Google Calendar4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar4": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items6": {
      "main": [
        [],
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ha acabado la llamada?1": {
      "main": [
        [
          {
            "node": "DataTime1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Espera1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "El usuario ha respondido?2": {
      "main": [
        [
          {
            "node": "DB Customer (Llamada no realizada)2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DB Customert (Llamada Realizada)2",
            "type": "main",
            "index": 0
          },
          {
            "node": "DB Contactcustomer (Llamada Realizada)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ha acabado la llamada?2": {
      "main": [
        [
          {
            "node": "DataTime2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Espera2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tercera Llamada": {
      "main": [
        [
          {
            "node": "Transcripción2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Espera a que finalice la llamada2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataTime": {
      "main": [
        [
          {
            "node": "El usuario ha respondido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataTime1": {
      "main": [
        [
          {
            "node": "El usuario ha respondido?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataTime2": {
      "main": [
        [
          {
            "node": "El usuario ha respondido?2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Customer (Llamada no realizada)1": {
      "main": [
        [
          {
            "node": "Esperamos 2 días",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sin Contacto Email Informativo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "CodeFiltrarDatosCalendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Correo Verificación Nuestro1": {
      "main": [
        [
          {
            "node": "Correo Verificación Cliente1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Correo Verificación Cliente1": {
      "main": [
        [
          {
            "node": "Loop Over Items5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CodeFiltrarDatosCalendar3": {
      "main": [
        [
          {
            "node": "CodeHora3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CodeHora3": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Loop Over Items4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items5": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Correo Verificación Nuestro1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Loop Over Items5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "CodeFiltrarDatosCalendar3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Correo Verificación Nuestro2": {
      "main": [
        [
          {
            "node": "Correo Verificación Cliente2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Correo Verificación Cliente2": {
      "main": [
        [
          {
            "node": "Loop Over Items7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CodeFiltrarDatosCalendar4": {
      "main": [
        [
          {
            "node": "CodeHora4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CodeHora4": {
      "main": [
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Loop Over Items6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items7": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Correo Verificación Nuestro2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "Loop Over Items7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "CodeFiltrarDatosCalendar4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Loop Over Items4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Loop Over Items6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Wait6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "node": "MySQL Tabla Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Customer (Llamada no realizada)2": {
      "main": [
        [
          {
            "node": "Sin Contacto Email Informativo2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "74c88efc-39e8-4f5b-bf35-3870ff7e9580",
  "meta": {
    "instanceId": "91e9bc2fd2d08736422cccee7e1506bda336e368f82dcb792c9d1bbf6348503c"
  },
  "id": "zKpXJj5cge1EgWbT",
  "tags": []
}