Automatizaciones_N8N/Gmail_AI_Auto_Responder.json
{
  "name": "🤖✉️ Gmail AI Auto-Responder",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "-from:me"
        },
        "options": {}
      },
      "id": "ca53c28e-a925-4659-a626-744b2ce5afca",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "position": [
        -800,
        120
      ],
      "typeVersion": 1,
      "credentials": {
        "gmailOAuth2": {
          "id": "9Yer6f4atpGTY42d",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "53849246-ad32-4845-9976-9f9688f5a6f2",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.needsReply }}",
              "rightValue": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "2ba1a564-b268-4b78-b3c9-568fa143296d",
      "name": "If Needs Reply",
      "type": "n8n-nodes-base.if",
      "position": [
        -220,
        120
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsonSchema": "{\n \"type\": \"object\",\n \"properties\": {\n \"needsReply\": {\n \"type\": \"boolean\"\n }\n },\n \"required\": [\"needsReply\"]\n}\n"
      },
      "id": "acf45a1f-704d-42a3-aaf9-e4104d0f2bf0",
      "name": "JSON Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        -380,
        280
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "responseFormat": "json_object",
          "temperature": 0
        }
      },
      "id": "30715ea0-aafa-4da2-bf19-82b97fcd41a8",
      "name": "OpenAI Chat",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -540,
        280
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "dGNE7v9WIZNmaUgk",
          "name": "OpenAi ATT"
        }
      }
    },
    {
      "parameters": {
        "content": "## Recepción del Email\n",
        "height": 434,
        "width": 284,
        "color": 4
      },
      "id": "1c92b81c-6933-4a35-b8dd-6c5c6f0e4804",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -880,
        -20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Se procesa el contenido para generar una respuesta\n\n",
        "height": 437,
        "width": 556,
        "color": 5
      },
      "id": "b9ef3cab-173d-438f-8d0b-51899b6938ec",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -580,
        -20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Generador de Repuestas",
        "height": 440,
        "width": 333,
        "color": 5
      },
      "id": "9c2d3330-75bf-4816-92eb-abf25fd7759e",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Guarda el resultado en un borrador de Gmail\n",
        "height": 435,
        "width": 326,
        "color": 4
      },
      "id": "6860fe50-be5c-460c-9c78-10f7f38a02de",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        360,
        -20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "gpt-4-turbo",
        "options": {}
      },
      "id": "3c31e356-6fb7-492a-81cf-6a9bb84b57b4",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        100,
        260
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "dGNE7v9WIZNmaUgk",
          "name": "OpenAi ATT"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "=Re: {{ $('Gmail Trigger').item.json.headers.subject }}",
        "emailType": "html",
        "message": "={{ $json.text.replace(/\\n/g, \"<br />\\n\") }}",
        "options": {
          "threadId": "={{ $('Gmail Trigger').item.json.threadId }}",
          "sendTo": "={{ $('Gmail Trigger').item.json.headers.from }}"
        }
      },
      "id": "98088210-2e0c-4ac5-bf9c-f381448662b4",
      "name": "Gmail - Create Draft",
      "type": "n8n-nodes-base.gmail",
      "position": [
        440,
        100
      ],
      "typeVersion": 2.1,
      "webhookId": "ac55b217-a1b0-460d-a7eb-7df56b0c6632",
      "credentials": {
        "gmailOAuth2": {
          "id": "9Yer6f4atpGTY42d",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "prompt": "=Subject: {{ $json.subject }}\nMessage:\n{{ $json.textAsHtml }} ",
        "messages": {
          "messageValues": [
            {
              "message": "Your task is to assess if the message requires a response. Return in JSON format true if it does, false otherwise.\nMarketing emails don't require a response."
            }
          ]
        }
      },
      "id": "55df4c4b-09a5-4179-bbda-1a191c9ac391",
      "name": "Assess if message needs a reply",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        -560,
        120
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Subject: {{ $('Gmail Trigger').item.json.subject }}\nMessage: {{ $('Gmail Trigger').item.json.textAsHtml }}",
        "messages": {
          "messageValues": [
            {
              "message": "You're a helpful personal assistant and your task is to draft replies on my behalf to my incoming emails. Whenever I provide some text from an email, return an appropriate draft reply for it and nothing else.\nEnsure that the reply is suitable for a professional email setting and addresses the topic in a clear, structured, and detailed manner.\nDo not make things up.\n\nDetailed instructions:\n- Be concise and maintain a business casual tone.\n- Start with \"Hello,\", and end with \"Best,\"\n- When replying to yes-no questions, draft 2 responses: one affirmative and one negative separated by \" - - - - - - - OR - - - - - - - \"\n- If you don't know an answer, you can leave placeholders like \"[YOUR_ANSWER_HERE]\".\n- Don't use any special formatting, only plain text.\n- Reply in the same language as the inbound email."
            }
          ]
        }
      },
      "id": "7d6b3a23-2c91-4565-bc8b-c67e7c0872fa",
      "name": "Generate email reply",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        40,
        100
      ],
      "typeVersion": 1.4
    }
  ],
  "pinData": {},
  "connections": {
    "JSON Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Assess if message needs a reply",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat": {
      "ai_languageModel": [
        [
          {
            "node": "Assess if message needs a reply",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Assess if message needs a reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Needs Reply": {
      "main": [
        [
          {
            "node": "Generate email reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate email reply",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate email reply": {
      "main": [
        [
          {
            "node": "Gmail - Create Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assess if message needs a reply": {
      "main": [
        [
          {
            "node": "If Needs Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6eb0cb47-219c-4449-8beb-e681da21429a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0745e04db88a1a86f079fe163a3d280dee47dc3fb74c36297af543dac4aa9ecc"
  },
  "id": "O7IXE1E1sLATyyYP",
  "tags": [
    {
      "name": "Gmail",
      "id": "he2beZNUgotgylFK",
      "createdAt": "2025-07-23T01:49:07.650Z",
      "updatedAt": "2025-07-23T01:49:07.650Z"
    },
    {
      "name": "OpenAI",
      "id": "4G7GzkOZIiFOrCMI",
      "createdAt": "2025-07-23T01:49:12.399Z",
      "updatedAt": "2025-07-23T01:49:12.399Z"
    }
  ]
}