Automatizaciones_N8N/🟨 Llamadas Salientes.json
{
  "name": "🟨 Llamadas Salientes",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1TUyW13dVO0tfpeDHAJHo0642inJh3TEmUQKmC8GxS0I",
          "mode": "list",
          "cachedResultName": "1 prueba real estate",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TUyW13dVO0tfpeDHAJHo0642inJh3TEmUQKmC8GxS0I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1752774959,
          "mode": "list",
          "cachedResultName": "agencia-inmobiliaria-en-Madrid-(02-08-2025)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TUyW13dVO0tfpeDHAJHo0642inJh3TEmUQKmC8GxS0I/edit#gid=1752774959"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Business Status",
              "lookupValue": "open"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -3888,
        1088
      ],
      "id": "bff87fe4-e3c1-45f5-90b6-e16efb8a6d97",
      "name": "Leads",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gpLvhu8dEe5EEmu3",
          "name": "Google Sheets OptimaQuantum"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/v2/create-phone-call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer key_83c9176445a69ff250c6b9fa2f75"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"from_number\": \"+34936940187\",\n  \"to_number\": \"+34{{ $('Leads').item.json.Phone_1 }}\",\n  \"retell_llm_dynamic_variables\": {\n    \"nombre\": \"{{ $json.message.content }}\"  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3168,
        960
      ],
      "id": "57f5d7d7-a2de-49e5-aba0-b0e891ef6480",
      "name": "Llamada saliente"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1TUyW13dVO0tfpeDHAJHo0642inJh3TEmUQKmC8GxS0I",
          "mode": "list",
          "cachedResultName": "1 prueba real estate",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TUyW13dVO0tfpeDHAJHo0642inJh3TEmUQKmC8GxS0I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1752774959,
          "mode": "list",
          "cachedResultName": "agencia-inmobiliaria-en-Madrid-(02-08-2025)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TUyW13dVO0tfpeDHAJHo0642inJh3TEmUQKmC8GxS0I/edit#gid=1752774959"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Uuid": "={{ $('Leads').item.json.Uuid }}",
            "Business Status": "llamada_en_curso"
          },
          "matchingColumns": [
            "Uuid"
          ],
          "schema": [
            {
              "id": "Keyword",
              "displayName": "Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Full_Address",
              "displayName": "Full_Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Street_Address",
              "displayName": "Street_Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Zip",
              "displayName": "Zip",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Municipality",
              "displayName": "Municipality",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timezone",
              "displayName": "Timezone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sub_Title",
              "displayName": "Sub_Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone_1",
              "displayName": "Phone_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone_Standard_format",
              "displayName": "Phone_Standard_format",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone From WEBSITE",
              "displayName": "Phone From WEBSITE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email From WEBSITE",
              "displayName": "Email From WEBSITE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Domain",
              "displayName": "Domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "First_category",
              "displayName": "First_category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Second_category",
              "displayName": "Second_category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Claimed_google_my_business",
              "displayName": "Claimed_google_my_business",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reviews_count",
              "displayName": "Reviews_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Average_rating",
              "displayName": "Average_rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Price",
              "displayName": "Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Business Status",
              "displayName": "Business Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hours",
              "displayName": "Hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Latitude",
              "displayName": "Latitude",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Longitude",
              "displayName": "Longitude",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Coordinates",
              "displayName": "Coordinates",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Plus_Code",
              "displayName": "Plus_Code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Place_ID",
              "displayName": "Place_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Menu Link",
              "displayName": "Menu Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "GMB_URL",
              "displayName": "GMB_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CID",
              "displayName": "CID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Google_Knowledge_URL",
              "displayName": "Google_Knowledge_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Kgmid",
              "displayName": "Kgmid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image_URL",
              "displayName": "Image_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Favicon",
              "displayName": "Favicon",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Review_URL",
              "displayName": "Review_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Facebook URL",
              "displayName": "Facebook URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Linkedin URL",
              "displayName": "Linkedin URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Twitter URL",
              "displayName": "Twitter URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Instagram URL",
              "displayName": "Instagram URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Youtube URL",
              "displayName": "Youtube URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Yelp URL",
              "displayName": "Yelp URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meta Description",
              "displayName": "Meta Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meta Keywords",
              "displayName": "Meta Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Uuid",
              "displayName": "Uuid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2944,
        960
      ],
      "id": "14465e17-6cf9-4e6e-b686-8c9bf8c987b0",
      "name": "Actualizar estado",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gpLvhu8dEe5EEmu3",
          "name": "Google Sheets OptimaQuantum"
        }
      }
    },
    {
      "parameters": {
        "amount": 40
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2736,
        960
      ],
      "id": "668f079b-6e08-461a-9792-50989add5330",
      "name": "Tiempo espera llamada",
      "webhookId": "b62f9e72-74a9-47c1-8355-fd76f0d0f8e3"
    },
    {
      "parameters": {
        "url": "=https://api.retellai.com/v2/get-call/{{ $('Llamada saliente').item.json.call_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer key_83c9176445a69ff250c6b9fa2f75"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2544,
        960
      ],
      "id": "0b26163c-e7cf-4506-a479-6cd08c5baccc",
      "name": "Transcripción"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2528,
        1184
      ],
      "id": "e21238a9-9b41-4004-9f38-9e8321c0d75c",
      "name": "Espera",
      "webhookId": "8fdb9b02-7dd2-4e60-80bc-00be194ccda2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b0bfbae8-84c0-43a0-9783-96b02eeafec3",
              "leftValue": "={{ $json.call_status }}",
              "rightValue": "ended",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "4040b5d0-a4a0-4e52-b051-792888147b9f",
              "leftValue": "={{ $json.call_status }}",
              "rightValue": "error",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2288,
        960
      ],
      "id": "3e89da3c-fe5e-4c5a-bd5f-0e07ac304ae4",
      "name": "Ha acabado la llamada?"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "Your only job is to check if the current date is a working date or not.\n\nWorking days:\nMonday\nTuesday\nWednesday\nThursday\nFriday\n\nOnly respond with YES or NO, nothing else.",
              "role": "system"
            },
            {
              "content": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1520,
        1200
      ],
      "id": "67b595b5-974e-45cb-810f-722d9075808f",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "eEJ7dY14gZuZ6XoB",
          "name": "OpenAi Optima Quantum"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e6fa734e-d850-4b22-a30a-538d7f822840",
              "leftValue": "={{ $json.message.content }}",
              "rightValue": "YES",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3296,
        1504
      ],
      "id": "330210fe-dd1b-49ff-99a0-adc2dee9e6fc",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1TUyW13dVO0tfpeDHAJHo0642inJh3TEmUQKmC8GxS0I",
          "mode": "list",
          "cachedResultName": "1 prueba real estate",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TUyW13dVO0tfpeDHAJHo0642inJh3TEmUQKmC8GxS0I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1752774959,
          "mode": "list",
          "cachedResultName": "agencia-inmobiliaria-en-Madrid-(02-08-2025)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TUyW13dVO0tfpeDHAJHo0642inJh3TEmUQKmC8GxS0I/edit#gid=1752774959"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Uuid": "={{ $('Leads').item.json.Uuid }}",
            "Business Status": "en_espera_2_llamada"
          },
          "matchingColumns": [
            "Uuid"
          ],
          "schema": [
            {
              "id": "Keyword",
              "displayName": "Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Full_Address",
              "displayName": "Full_Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Street_Address",
              "displayName": "Street_Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Zip",
              "displayName": "Zip",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Municipality",
              "displayName": "Municipality",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timezone",
              "displayName": "Timezone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sub_Title",
              "displayName": "Sub_Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone_1",
              "displayName": "Phone_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone_Standard_format",
              "displayName": "Phone_Standard_format",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone From WEBSITE",
              "displayName": "Phone From WEBSITE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email From WEBSITE",
              "displayName": "Email From WEBSITE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Domain",
              "displayName": "Domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "First_category",
              "displayName": "First_category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Second_category",
              "displayName": "Second_category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Claimed_google_my_business",
              "displayName": "Claimed_google_my_business",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reviews_count",
              "displayName": "Reviews_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Average_rating",
              "displayName": "Average_rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Price",
              "displayName": "Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Business Status",
              "displayName": "Business Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hours",
              "displayName": "Hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Latitude",
              "displayName": "Latitude",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Longitude",
              "displayName": "Longitude",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Coordinates",
              "displayName": "Coordinates",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Plus_Code",
              "displayName": "Plus_Code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Place_ID",
              "displayName": "Place_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Menu Link",
              "displayName": "Menu Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "GMB_URL",
              "displayName": "GMB_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CID",
              "displayName": "CID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Google_Knowledge_URL",
              "displayName": "Google_Knowledge_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Kgmid",
              "displayName": "Kgmid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image_URL",
              "displayName": "Image_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Favicon",
              "displayName": "Favicon",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Review_URL",
              "displayName": "Review_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Facebook URL",
              "displayName": "Facebook URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Linkedin URL",
              "displayName": "Linkedin URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Twitter URL",
              "displayName": "Twitter URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Instagram URL",
              "displayName": "Instagram URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Youtube URL",
              "displayName": "Youtube URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Yelp URL",
              "displayName": "Yelp URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meta Description",
              "displayName": "Meta Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meta Keywords",
              "displayName": "Meta Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Uuid",
              "displayName": "Uuid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1760,
        912
      ],
      "id": "0d8e4872-6ba6-410f-9745-8687901d8aa4",
      "name": "Segunda llamada",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gpLvhu8dEe5EEmu3",
          "name": "Google Sheets OptimaQuantum"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c78d3787-23f8-4c91-9957-363510215ce8",
              "leftValue": "={{ $('Transcripción').item.json.call_analysis.custom_analysis_data.user_responded }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2016,
        944
      ],
      "id": "4e1da30f-2bcb-430b-855b-9f7cac65ffcf",
      "name": "El usuario ha respondido?"
    },
    {
      "parameters": {
        "amount": 24,
        "unit": "hours"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1520,
        880
      ],
      "id": "1b1ca228-c9d3-47e5-ad3a-aec06b803878",
      "name": "Esperamos 24 horas",
      "webhookId": "444388d9-a1c0-45f1-a0a5-b08ceb9ea783"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/v2/create-phone-call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer key_83c9176445a69ff250c6b9fa2f75"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"from_number\": \"+34936940187\",\n  \"to_number\": \"+34{{ $('Leads').item.json.Phone_1 }}\",\n  \"retell_llm_dynamic_variables\": {\n    \"nombre\": \"{{ $('Leads').item.json.Name }}\"  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3040,
        1552
      ],
      "id": "e6dfbb4c-bab2-4b43-8dc3-da53114d32a8",
      "name": "Llamada saliente1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1TUyW13dVO0tfpeDHAJHo0642inJh3TEmUQKmC8GxS0I",
          "mode": "list",
          "cachedResultName": "1 prueba real estate",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TUyW13dVO0tfpeDHAJHo0642inJh3TEmUQKmC8GxS0I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1752774959,
          "mode": "list",
          "cachedResultName": "agencia-inmobiliaria-en-Madrid-(02-08-2025)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TUyW13dVO0tfpeDHAJHo0642inJh3TEmUQKmC8GxS0I/edit#gid=1752774959"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Uuid": "={{ $('Leads').item.json.Uuid }}",
            "Business Status": "llamada_en_curso"
          },
          "matchingColumns": [
            "Uuid"
          ],
          "schema": [
            {
              "id": "Keyword",
              "displayName": "Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Full_Address",
              "displayName": "Full_Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Street_Address",
              "displayName": "Street_Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Zip",
              "displayName": "Zip",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Municipality",
              "displayName": "Municipality",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timezone",
              "displayName": "Timezone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sub_Title",
              "displayName": "Sub_Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone_1",
              "displayName": "Phone_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone_Standard_format",
              "displayName": "Phone_Standard_format",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone From WEBSITE",
              "displayName": "Phone From WEBSITE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email From WEBSITE",
              "displayName": "Email From WEBSITE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Domain",
              "displayName": "Domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "First_category",
              "displayName": "First_category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Second_category",
              "displayName": "Second_category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Claimed_google_my_business",
              "displayName": "Claimed_google_my_business",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reviews_count",
              "displayName": "Reviews_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Average_rating",
              "displayName": "Average_rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Price",
              "displayName": "Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Business Status",
              "displayName": "Business Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hours",
              "displayName": "Hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Latitude",
              "displayName": "Latitude",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Longitude",
              "displayName": "Longitude",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Coordinates",
              "displayName": "Coordinates",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Plus_Code",
              "displayName": "Plus_Code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Place_ID",
              "displayName": "Place_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Menu Link",
              "displayName": "Menu Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "GMB_URL",
              "displayName": "GMB_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CID",
              "displayName": "CID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Google_Knowledge_URL",
              "displayName": "Google_Knowledge_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Kgmid",
              "displayName": "Kgmid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image_URL",
              "displayName": "Image_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Favicon",
              "displayName": "Favicon",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Review_URL",
              "displayName": "Review_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Facebook URL",
              "displayName": "Facebook URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Linkedin URL",
              "displayName": "Linkedin URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Twitter URL",
              "displayName": "Twitter URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Instagram URL",
              "displayName": "Instagram URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Youtube URL",
              "displayName": "Youtube URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Yelp URL",
              "displayName": "Yelp URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meta Description",
              "displayName": "Meta Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meta Keywords",
              "displayName": "Meta Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Uuid",
              "displayName": "Uuid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2704,
        1552
      ],
      "id": "8e700fbc-f392-428f-8053-338ffb10da83",
      "name": "Actualizar estado1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gpLvhu8dEe5EEmu3",
          "name": "Google Sheets OptimaQuantum"
        }
      }
    },
    {
      "parameters": {
        "amount": 40
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2448,
        1552
      ],
      "id": "c83c3708-f199-4de5-a5a9-faf6e0745c25",
      "name": "Tiempo espera llamada1",
      "webhookId": "b62f9e72-74a9-47c1-8355-fd76f0d0f8e3"
    },
    {
      "parameters": {
        "url": "=https://api.retellai.com/v2/get-call/{{ $('Llamada saliente1').item.json.call_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer key_83c9176445a69ff250c6b9fa2f75"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2224,
        1552
      ],
      "id": "02d5f7f1-eba1-417f-9bcf-8ad1af987e19",
      "name": "Transcripción1"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2160,
        1792
      ],
      "id": "ae32ab6e-c377-4313-889c-6ce9bcf5d4a5",
      "name": "Espera1",
      "webhookId": "8fdb9b02-7dd2-4e60-80bc-00be194ccda2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b0bfbae8-84c0-43a0-9783-96b02eeafec3",
              "leftValue": "={{ $json.call_status }}",
              "rightValue": "ended",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2000,
        1552
      ],
      "id": "46cd018f-ad01-4438-8df6-3ebf4b2afb20",
      "name": "Ha acabado la llamada?1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c78d3787-23f8-4c91-9957-363510215ce8",
              "leftValue": "={{ $('Transcripción').item.json.call_analysis.custom_analysis_data.user_responded }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1728,
        1584
      ],
      "id": "0338e038-3645-4f3a-bcc1-16a7785a489f",
      "name": "El usuario ha respondido?1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1mXlqlAz8yZsESScr9eRMN13rcooXe3hKGvsJFdjQCxA",
          "mode": "list",
          "cachedResultName": "Resultados llamadas optima",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mXlqlAz8yZsESScr9eRMN13rcooXe3hKGvsJFdjQCxA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mXlqlAz8yZsESScr9eRMN13rcooXe3hKGvsJFdjQCxA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha": "={{ $now }}",
            "Nombre Empresa": "={{ $('Leads').item.json.Name }}",
            "Número de Telefóno": "={{ $('Leads').item.json.Phone_1 }}",
            "Estado": "Llamada Completada",
            "Resultado": "={{ $('Transcripción').item.json.call_analysis.call_successful }}",
            "Audio de la llamada": "={{ $('Transcripción').item.json.recording_url }}",
            "Call ID": "={{ $('Transcripción').item.json.call_id }}",
            "Transcripción": "={{ $('Transcripción').item.json.transcript }}",
            "Sentimiento": "={{ $('Transcripción').item.json.call_analysis.user_sentiment }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre Empresa",
              "displayName": "Nombre Empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Número de Telefóno",
              "displayName": "Número de Telefóno",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Resultado",
              "displayName": "Resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Transcripción",
              "displayName": "Transcripción",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sentimiento",
              "displayName": "Sentimiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Resultado",
              "displayName": "Resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Call ID",
              "displayName": "Call ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Audio de la llamada",
              "displayName": "Audio de la llamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1760,
        1184
      ],
      "id": "690445e1-12b1-495f-a6b4-03997838ebec",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gpLvhu8dEe5EEmu3",
          "name": "Google Sheets OptimaQuantum"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1TUyW13dVO0tfpeDHAJHo0642inJh3TEmUQKmC8GxS0I",
          "mode": "list",
          "cachedResultName": "1 prueba real estate",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TUyW13dVO0tfpeDHAJHo0642inJh3TEmUQKmC8GxS0I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1752774959,
          "mode": "list",
          "cachedResultName": "agencia-inmobiliaria-en-Madrid-(02-08-2025)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TUyW13dVO0tfpeDHAJHo0642inJh3TEmUQKmC8GxS0I/edit#gid=1752774959"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Uuid": "={{ $('Leads').item.json.Uuid }}",
            "Business Status": "en_espera_2_llamada"
          },
          "matchingColumns": [
            "Uuid"
          ],
          "schema": [
            {
              "id": "Keyword",
              "displayName": "Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Full_Address",
              "displayName": "Full_Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Street_Address",
              "displayName": "Street_Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Zip",
              "displayName": "Zip",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Municipality",
              "displayName": "Municipality",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timezone",
              "displayName": "Timezone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sub_Title",
              "displayName": "Sub_Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone_1",
              "displayName": "Phone_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone_Standard_format",
              "displayName": "Phone_Standard_format",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone From WEBSITE",
              "displayName": "Phone From WEBSITE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email From WEBSITE",
              "displayName": "Email From WEBSITE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Domain",
              "displayName": "Domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "First_category",
              "displayName": "First_category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Second_category",
              "displayName": "Second_category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Claimed_google_my_business",
              "displayName": "Claimed_google_my_business",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reviews_count",
              "displayName": "Reviews_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Average_rating",
              "displayName": "Average_rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Price",
              "displayName": "Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Business Status",
              "displayName": "Business Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hours",
              "displayName": "Hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Latitude",
              "displayName": "Latitude",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Longitude",
              "displayName": "Longitude",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Coordinates",
              "displayName": "Coordinates",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Plus_Code",
              "displayName": "Plus_Code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Place_ID",
              "displayName": "Place_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Menu Link",
              "displayName": "Menu Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "GMB_URL",
              "displayName": "GMB_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CID",
              "displayName": "CID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Google_Knowledge_URL",
              "displayName": "Google_Knowledge_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Kgmid",
              "displayName": "Kgmid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image_URL",
              "displayName": "Image_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Favicon",
              "displayName": "Favicon",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Review_URL",
              "displayName": "Review_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Facebook URL",
              "displayName": "Facebook URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Linkedin URL",
              "displayName": "Linkedin URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Twitter URL",
              "displayName": "Twitter URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Instagram URL",
              "displayName": "Instagram URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Youtube URL",
              "displayName": "Youtube URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Yelp URL",
              "displayName": "Yelp URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meta Description",
              "displayName": "Meta Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meta Keywords",
              "displayName": "Meta Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Uuid",
              "displayName": "Uuid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1360,
        1568
      ],
      "id": "8e635aea-cb34-4ab6-8a60-4269bc1f7849",
      "name": "Tercera llamada",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gpLvhu8dEe5EEmu3",
          "name": "Google Sheets OptimaQuantum"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "Your only job is to check if the current date is a working date or not.\n\nWorking days:\nMonday\nTuesday\nWednesday\nThursday\nFriday\n\nOnly respond with YES or NO, nothing else.",
              "role": "system"
            },
            {
              "content": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -896,
        1648
      ],
      "id": "0db8a7d4-ab1b-4d20-8253-309fb19307ef",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "eEJ7dY14gZuZ6XoB",
          "name": "OpenAi Optima Quantum"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e6fa734e-d850-4b22-a30a-538d7f822840",
              "leftValue": "={{ $json.message.content }}",
              "rightValue": "YES",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1104,
        944
      ],
      "id": "3b8e5d9f-a619-4194-be77-821668fc4f96",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 24,
        "unit": "hours"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1104,
        1648
      ],
      "id": "536afa53-bb6b-4bcf-ae97-4a926677688a",
      "name": "Esperamos 24 horas1",
      "webhookId": "444388d9-a1c0-45f1-a0a5-b08ceb9ea783"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/v2/create-phone-call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer key_83c9176445a69ff250c6b9fa2f75"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"from_number\": \"+34936940187\",\n  \"to_number\": \"+34{{ $('Leads').item.json.Phone_1 }}\",\n  \"retell_llm_dynamic_variables\": {\n    \"nombre\": \"{{ $('Leads').item.json.Name }}\"  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -768,
        928
      ],
      "id": "b0c561da-f17b-4766-b751-46a3c94692f1",
      "name": "Llamada saliente2"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1TUyW13dVO0tfpeDHAJHo0642inJh3TEmUQKmC8GxS0I",
          "mode": "list",
          "cachedResultName": "1 prueba real estate",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TUyW13dVO0tfpeDHAJHo0642inJh3TEmUQKmC8GxS0I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1752774959,
          "mode": "list",
          "cachedResultName": "agencia-inmobiliaria-en-Madrid-(02-08-2025)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TUyW13dVO0tfpeDHAJHo0642inJh3TEmUQKmC8GxS0I/edit#gid=1752774959"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Uuid": "={{ $('Leads').item.json.Uuid }}",
            "Business Status": "llamada_en_curso"
          },
          "matchingColumns": [
            "Uuid"
          ],
          "schema": [
            {
              "id": "Keyword",
              "displayName": "Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Full_Address",
              "displayName": "Full_Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Street_Address",
              "displayName": "Street_Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Zip",
              "displayName": "Zip",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Municipality",
              "displayName": "Municipality",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timezone",
              "displayName": "Timezone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sub_Title",
              "displayName": "Sub_Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone_1",
              "displayName": "Phone_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone_Standard_format",
              "displayName": "Phone_Standard_format",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone From WEBSITE",
              "displayName": "Phone From WEBSITE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email From WEBSITE",
              "displayName": "Email From WEBSITE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Domain",
              "displayName": "Domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "First_category",
              "displayName": "First_category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Second_category",
              "displayName": "Second_category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Claimed_google_my_business",
              "displayName": "Claimed_google_my_business",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reviews_count",
              "displayName": "Reviews_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Average_rating",
              "displayName": "Average_rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Price",
              "displayName": "Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Business Status",
              "displayName": "Business Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hours",
              "displayName": "Hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Latitude",
              "displayName": "Latitude",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Longitude",
              "displayName": "Longitude",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Coordinates",
              "displayName": "Coordinates",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Plus_Code",
              "displayName": "Plus_Code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Place_ID",
              "displayName": "Place_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Menu Link",
              "displayName": "Menu Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "GMB_URL",
              "displayName": "GMB_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CID",
              "displayName": "CID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Google_Knowledge_URL",
              "displayName": "Google_Knowledge_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Kgmid",
              "displayName": "Kgmid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image_URL",
              "displayName": "Image_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Favicon",
              "displayName": "Favicon",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Review_URL",
              "displayName": "Review_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Facebook URL",
              "displayName": "Facebook URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Linkedin URL",
              "displayName": "Linkedin URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Twitter URL",
              "displayName": "Twitter URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Instagram URL",
              "displayName": "Instagram URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Youtube URL",
              "displayName": "Youtube URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Yelp URL",
              "displayName": "Yelp URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meta Description",
              "displayName": "Meta Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meta Keywords",
              "displayName": "Meta Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Uuid",
              "displayName": "Uuid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -464,
        928
      ],
      "id": "114b84fa-34d0-48b0-aa61-8fc11fe0085b",
      "name": "Actualizar estado2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gpLvhu8dEe5EEmu3",
          "name": "Google Sheets OptimaQuantum"
        }
      }
    },
    {
      "parameters": {
        "amount": 40
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -224,
        928
      ],
      "id": "d7c5d7ad-31b3-495d-9929-d070eaf64992",
      "name": "Tiempo espera llamada2",
      "webhookId": "b62f9e72-74a9-47c1-8355-fd76f0d0f8e3"
    },
    {
      "parameters": {
        "url": "=https://api.retellai.com/v2/get-call/{{ $('Llamada saliente2').item.json.call_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer key_83c9176445a69ff250c6b9fa2f75"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1040,
        1264
      ],
      "id": "e3e5b2c2-0aec-43de-a9f4-c374a802f82a",
      "name": "Transcripción2"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -464,
        1328
      ],
      "id": "e34f2b6b-c0c7-4f49-a552-21f9d290e9e8",
      "name": "Espera2",
      "webhookId": "8fdb9b02-7dd2-4e60-80bc-00be194ccda2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b0bfbae8-84c0-43a0-9783-96b02eeafec3",
              "leftValue": "={{ $json.call_status }}",
              "rightValue": "ended",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -720,
        1264
      ],
      "id": "94bbaf5c-768b-4770-b5b7-baf1242f7dc6",
      "name": "Ha acabado la llamada?2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c78d3787-23f8-4c91-9957-363510215ce8",
              "leftValue": "={{ $('Transcripción').item.json.call_analysis.custom_analysis_data.user_responded }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        1248
      ],
      "id": "59f64d12-6308-4e64-ba54-b2864f7ca4c3",
      "name": "El usuario ha respondido?2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1mXlqlAz8yZsESScr9eRMN13rcooXe3hKGvsJFdjQCxA",
          "mode": "list",
          "cachedResultName": "Resultados llamadas optima",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mXlqlAz8yZsESScr9eRMN13rcooXe3hKGvsJFdjQCxA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mXlqlAz8yZsESScr9eRMN13rcooXe3hKGvsJFdjQCxA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha": "={{ $now }}",
            "Nombre Empresa": "={{ $('Leads').item.json.Name }}",
            "Número de Telefóno": "={{ $('Leads').item.json.Phone_1 }}",
            "Estado": "Llamada Completada",
            "Resultado": "={{ $('Transcripción').item.json.call_analysis.call_successful }}",
            "Audio de la llamada": "={{ $('Transcripción').item.json.recording_url }}",
            "Call ID": "={{ $('Transcripción').item.json.call_id }}",
            "Transcripción": "={{ $('Transcripción').item.json.transcript }}",
            "Sentimiento": "={{ $('Transcripción').item.json.call_analysis.user_sentiment }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre Empresa",
              "displayName": "Nombre Empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Número de Telefóno",
              "displayName": "Número de Telefóno",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Resultado",
              "displayName": "Resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Transcripción",
              "displayName": "Transcripción",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sentimiento",
              "displayName": "Sentimiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Resultado",
              "displayName": "Resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Call ID",
              "displayName": "Call ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Audio de la llamada",
              "displayName": "Audio de la llamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1360,
        1824
      ],
      "id": "8e594e74-3abe-491b-81e6-9ec682eb737c",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gpLvhu8dEe5EEmu3",
          "name": "Google Sheets OptimaQuantum"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1mXlqlAz8yZsESScr9eRMN13rcooXe3hKGvsJFdjQCxA",
          "mode": "list",
          "cachedResultName": "Resultados llamadas optima",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mXlqlAz8yZsESScr9eRMN13rcooXe3hKGvsJFdjQCxA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mXlqlAz8yZsESScr9eRMN13rcooXe3hKGvsJFdjQCxA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha": "={{ $now }}",
            "Nombre Empresa": "={{ $('Leads').item.json.Name }}",
            "Número de Telefóno": "={{ $('Leads').item.json.Phone_1 }}",
            "Estado": "Llamada Completada",
            "Resultado": "={{ $('Transcripción').item.json.call_analysis.call_successful }}",
            "Audio de la llamada": "={{ $('Transcripción').item.json.recording_url }}",
            "Call ID": "={{ $('Transcripción').item.json.call_id }}",
            "Transcripción": "={{ $('Transcripción').item.json.transcript }}",
            "Sentimiento": "={{ $('Transcripción').item.json.call_analysis.user_sentiment }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre Empresa",
              "displayName": "Nombre Empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Número de Telefóno",
              "displayName": "Número de Telefóno",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Resultado",
              "displayName": "Resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Transcripción",
              "displayName": "Transcripción",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sentimiento",
              "displayName": "Sentimiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Resultado",
              "displayName": "Resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Call ID",
              "displayName": "Call ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Audio de la llamada",
              "displayName": "Audio de la llamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        80,
        1392
      ],
      "id": "39b2f7e2-685c-42e7-9fe8-60de3dcb4767",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gpLvhu8dEe5EEmu3",
          "name": "Google Sheets OptimaQuantum"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1TUyW13dVO0tfpeDHAJHo0642inJh3TEmUQKmC8GxS0I",
          "mode": "list",
          "cachedResultName": "1 prueba real estate",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TUyW13dVO0tfpeDHAJHo0642inJh3TEmUQKmC8GxS0I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1752774959,
          "mode": "list",
          "cachedResultName": "agencia-inmobiliaria-en-Madrid-(02-08-2025)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TUyW13dVO0tfpeDHAJHo0642inJh3TEmUQKmC8GxS0I/edit#gid=1752774959"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Uuid": "={{ $('Leads').item.json.Uuid }}",
            "Business Status": "no_respuesta"
          },
          "matchingColumns": [
            "Uuid"
          ],
          "schema": [
            {
              "id": "Keyword",
              "displayName": "Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Full_Address",
              "displayName": "Full_Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Street_Address",
              "displayName": "Street_Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Zip",
              "displayName": "Zip",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Municipality",
              "displayName": "Municipality",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timezone",
              "displayName": "Timezone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sub_Title",
              "displayName": "Sub_Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone_1",
              "displayName": "Phone_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone_Standard_format",
              "displayName": "Phone_Standard_format",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone From WEBSITE",
              "displayName": "Phone From WEBSITE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email From WEBSITE",
              "displayName": "Email From WEBSITE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Domain",
              "displayName": "Domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "First_category",
              "displayName": "First_category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Second_category",
              "displayName": "Second_category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Claimed_google_my_business",
              "displayName": "Claimed_google_my_business",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reviews_count",
              "displayName": "Reviews_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Average_rating",
              "displayName": "Average_rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Price",
              "displayName": "Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Business Status",
              "displayName": "Business Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hours",
              "displayName": "Hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Latitude",
              "displayName": "Latitude",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Longitude",
              "displayName": "Longitude",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Coordinates",
              "displayName": "Coordinates",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Plus_Code",
              "displayName": "Plus_Code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Place_ID",
              "displayName": "Place_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Menu Link",
              "displayName": "Menu Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "GMB_URL",
              "displayName": "GMB_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CID",
              "displayName": "CID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Google_Knowledge_URL",
              "displayName": "Google_Knowledge_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Kgmid",
              "displayName": "Kgmid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image_URL",
              "displayName": "Image_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Favicon",
              "displayName": "Favicon",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Review_URL",
              "displayName": "Review_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Facebook URL",
              "displayName": "Facebook URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Linkedin URL",
              "displayName": "Linkedin URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Twitter URL",
              "displayName": "Twitter URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Instagram URL",
              "displayName": "Instagram URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Youtube URL",
              "displayName": "Youtube URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Yelp URL",
              "displayName": "Yelp URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meta Description",
              "displayName": "Meta Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meta Keywords",
              "displayName": "Meta Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Uuid",
              "displayName": "Uuid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        64,
        1088
      ],
      "id": "04da23a9-bb38-4d8d-aeec-9c7c1be9f430",
      "name": "Actualizar estado3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gpLvhu8dEe5EEmu3",
          "name": "Google Sheets OptimaQuantum"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "=Transforma el siguiente nombre para que pueda ser usado correctamente en una solicitud json y no de errores, formatealo para que no haya carácteres especiales, no admitidos por JSON.\n\n{{ $json.Name }}\n\nResponde SOLAMENTE con el nombre transformado, NADA más. No des la respuesta entre comillas.\n\nRESPONDE SOLAMENTE CON EL NOMBRE RESULTANTE.\nEJ: Casetes Inmobiliaria"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -3520,
        960
      ],
      "id": "71e9f7ac-0638-4a97-be28-0f9acb51c6a4",
      "name": "OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "eEJ7dY14gZuZ6XoB",
          "name": "OpenAi Optima Quantum"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ecd79f1f-5127-4804-882a-1b5888584b6e",
              "leftValue": "={{ $('Leads').item.json.Phone_1 }}",
              "rightValue": "9",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3696,
        1088
      ],
      "id": "726fbf53-938f-4b24-ab75-29023990e5f7",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1TUyW13dVO0tfpeDHAJHo0642inJh3TEmUQKmC8GxS0I",
          "mode": "list",
          "cachedResultName": "1 prueba real estate",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TUyW13dVO0tfpeDHAJHo0642inJh3TEmUQKmC8GxS0I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1752774959,
          "mode": "list",
          "cachedResultName": "agencia-inmobiliaria-en-Madrid-(02-08-2025)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TUyW13dVO0tfpeDHAJHo0642inJh3TEmUQKmC8GxS0I/edit#gid=1752774959"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Uuid": "={{ $json.Uuid }}",
            "Business Status": "no_phone"
          },
          "matchingColumns": [
            "Uuid"
          ],
          "schema": [
            {
              "id": "Keyword",
              "displayName": "Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Full_Address",
              "displayName": "Full_Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Street_Address",
              "displayName": "Street_Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Zip",
              "displayName": "Zip",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Municipality",
              "displayName": "Municipality",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timezone",
              "displayName": "Timezone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sub_Title",
              "displayName": "Sub_Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone_1",
              "displayName": "Phone_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone_Standard_format",
              "displayName": "Phone_Standard_format",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone From WEBSITE",
              "displayName": "Phone From WEBSITE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email From WEBSITE",
              "displayName": "Email From WEBSITE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Domain",
              "displayName": "Domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "First_category",
              "displayName": "First_category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Second_category",
              "displayName": "Second_category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Claimed_google_my_business",
              "displayName": "Claimed_google_my_business",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reviews_count",
              "displayName": "Reviews_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Average_rating",
              "displayName": "Average_rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Price",
              "displayName": "Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Business Status",
              "displayName": "Business Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hours",
              "displayName": "Hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Latitude",
              "displayName": "Latitude",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Longitude",
              "displayName": "Longitude",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Coordinates",
              "displayName": "Coordinates",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Plus_Code",
              "displayName": "Plus_Code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Place_ID",
              "displayName": "Place_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Menu Link",
              "displayName": "Menu Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "GMB_URL",
              "displayName": "GMB_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CID",
              "displayName": "CID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Google_Knowledge_URL",
              "displayName": "Google_Knowledge_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Kgmid",
              "displayName": "Kgmid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image_URL",
              "displayName": "Image_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Favicon",
              "displayName": "Favicon",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Review_URL",
              "displayName": "Review_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Facebook URL",
              "displayName": "Facebook URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Linkedin URL",
              "displayName": "Linkedin URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Twitter URL",
              "displayName": "Twitter URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Instagram URL",
              "displayName": "Instagram URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Youtube URL",
              "displayName": "Youtube URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Yelp URL",
              "displayName": "Yelp URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meta Description",
              "displayName": "Meta Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meta Keywords",
              "displayName": "Meta Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Uuid",
              "displayName": "Uuid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -3520,
        1248
      ],
      "id": "e2fc1616-95bc-4273-852a-63b2c20ca1a1",
      "name": "Google Sheets3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gpLvhu8dEe5EEmu3",
          "name": "Google Sheets OptimaQuantum"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 60
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -4064,
        1088
      ],
      "id": "ca160cb3-7d19-4a82-a33e-03a144fb0837",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "content": "Activa el flujo de trabajo cada 60 segundos.",
        "height": 280,
        "width": 160,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4080,
        960
      ],
      "typeVersion": 1,
      "id": "1eca8c7c-0413-4c7f-867e-034b2a832386",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Lee datos de una hoja de Google Sheets que contiene leads inmobiliarios.",
        "height": 280,
        "width": 160,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3904,
        960
      ],
      "typeVersion": 1,
      "id": "430de570-6b0e-4288-a81b-91e89e23d180",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Verifica si el campo **Phone_1** existe y contiene un \"9\".",
        "height": 280,
        "width": 160
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3728,
        960
      ],
      "typeVersion": 1,
      "id": "4ee2b70d-a2c5-4505-9115-3310adac9b50",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Utiliza el modelo **gpt-3.5-turbo** para transformar el nombre del negocio (**Name**) en un formato válido para JSON, eliminando caracteres especiales no admitidos.",
        "height": 280,
        "width": 300,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3536,
        848
      ],
      "typeVersion": 1,
      "id": "556750af-1082-4f41-87c3-9e51f3d5d37b",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "Camino falso (False): Actualiza el estado en la hoja como no_phone (sin teléfono).",
        "height": 280,
        "width": 180,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3536,
        1152
      ],
      "typeVersion": 1,
      "id": "fa4e40c1-a932-460c-b8ed-e91260c15492",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "Realiza una solicitud POST a la API de Retell AI.",
        "height": 280,
        "width": 220,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3216,
        848
      ],
      "typeVersion": 1,
      "id": "7d9dece7-c180-4b9d-862e-5965f55931bc",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "Actualiza la hoja de Google Sheets original.",
        "height": 280,
        "width": 180,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2976,
        848
      ],
      "typeVersion": 1,
      "id": "ad0880bf-516b-4a81-89e1-f1fb2c77c51a",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "Pausa el flujo durante 40 segundos para dar tiempo a que la llamada se realice.",
        "height": 280,
        "width": 180
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2784,
        848
      ],
      "typeVersion": 1,
      "id": "b19aeaca-0780-4f7e-9b34-477019b9a4bd",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "Consulta el estado de la llamada a través de la API de Retell AI. Obtiene detalles como la transcripción y el análisis de la llamada.",
        "height": 300,
        "width": 200,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2576,
        832
      ],
      "typeVersion": 1,
      "id": "ccf6a9ef-3a29-431e-a14e-824f1aff769e",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "Verifica si call_status es ended (finalizada) o error.\nSi es verdadero: Continúa al análisis de la respuesta del usuario.\nSi es falso: Espera 20 segundos adicionales y vuelve a consultar la transcripción.",
        "height": 340,
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2368,
        784
      ],
      "typeVersion": 1,
      "id": "e5de5b0c-0ba5-4ba0-b1a8-ff5a67ca3624",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "Evalúa si el usuario respondió (**user_responded** es falso).\nSi no respondió: Actualiza el estado para una segunda llamada.\nSi respondió: Registra los resultados en otra hoja.",
        "height": 340
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2080,
        784
      ],
      "typeVersion": 1,
      "id": "f5d816c2-9c68-45ac-9e44-2b739540d09a",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "Actualiza el \"Business Status\" a en_espera_2_llamada (en espera de segunda llamada) para programar un nuevo intento.",
        "height": 280,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1824,
        784
      ],
      "typeVersion": 1,
      "id": "f9cac07f-a348-44ec-864a-01b60dda1ff3",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "Añade los resultados de la llamada a otra hoja de Google Sheets \"**Hoja1**\".",
        "height": 260,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1824,
        1088
      ],
      "typeVersion": 1,
      "id": "2214faac-df07-4d70-9924-8a951172780d",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "Usa el modelo gpt-3.5-turbo para verificar si la fecha actual ($now) es un día laboral.\nDías laborales definidos: lunes, martes, miércoles, jueves, viernes.\nResponde únicamente con YES (sí) o NO (no).",
        "height": 260,
        "width": 340,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1568,
        1072
      ],
      "typeVersion": 1,
      "id": "cd682163-fa1d-4b5a-a795-4b50b41bf9c7",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "Si es verdadero (día laboral): Procede a realizar la segunda llamada.",
        "height": 280,
        "width": 180
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3344,
        1408
      ],
      "typeVersion": 1,
      "id": "c0c613e8-c0db-4c43-9fe4-8b8b4bc4c85a",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "Realiza una solicitud POST a la API de Retell AI.\nUsa el número +34936940187 como origen y el número del lead (Phone_1) como destino, prefijado con +34.\nIncluye el nombre del lead (Name) como variable dinámica (nombre).\n",
        "height": 300,
        "width": 340,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3136,
        1408
      ],
      "typeVersion": 1,
      "id": "484fa34d-8eb6-4aea-9d85-a2bbf4615499",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "Actualiza la hoja de Google Sheets original.\nCambia el \"Business Status\" a llamada_en_curso (llamada en curso) para el lead correspondiente, usando Uuid como clave.",
        "height": 300,
        "width": 280,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2784,
        1408
      ],
      "typeVersion": 1,
      "id": "ee81f9e0-4629-4496-b592-79ed4c406c07",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "content": "Consulta el estado de la llamada en la API de Retell AI.\nObtiene detalles como la transcripción y el análisis de la llamada.",
        "height": 300,
        "width": 200,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2288,
        1408
      ],
      "typeVersion": 1,
      "id": "428f1ce3-6c75-4f3d-96ff-bcdaad977fa8",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "Si es verdadero (día laboral): Procede a realizar la segunda llamada.",
        "height": 300,
        "width": 220
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2064,
        1408
      ],
      "typeVersion": 1,
      "id": "57b9835b-0b53-407d-a8c3-d2de404d5af3",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "content": "Evalúa si el usuario respondió, comprobando si **user_responded** en **call_analysis.custom_analysis_data** es **false**.\n▪ Si es verdadero (True, no respondió): Va a \"Tercera llamada\" para programar otro intento.\n▪ Si es falso (False, respondió): Va a \"Google Sheets1\" para registrar los resultados.",
        "height": 340,
        "width": 340
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1824,
        1408
      ],
      "typeVersion": 1,
      "id": "7bd09c28-14e3-481e-a4a2-bf190988d3d8",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "content": "Actualiza la hoja de Google Sheets original.\nHoja: agencia-inmobiliaria-en-Madrid-(02-08-2025).\nCambia el \"Business Status\" a en_espera_2_llamada (en espera de segunda llamada) usando Uuid como clave.",
        "height": 320,
        "width": 300,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1456,
        1408
      ],
      "typeVersion": 1,
      "id": "fdbc7ad5-cdfd-466c-9f28-877c83b61c5f",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "content": "Si es falso (False, respondió): Va a \"Google Sheets1\" para registrar los resultados.",
        "height": 240,
        "width": 300,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1456,
        1744
      ],
      "typeVersion": 1,
      "id": "1db9bfe8-f4c9-4a73-82e4-d338307c08ee",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "content": "Comprueba si la respuesta de OpenAI (message.content) es igual a YES.\nSi es verdadero (día laboral): Procede a \"Llamada saliente2\".",
        "height": 280,
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1168,
        800
      ],
      "typeVersion": 1,
      "id": "89ce9ea7-5575-4d7e-9fdd-bf39460d88cb",
      "name": "Sticky Note23"
    },
    {
      "parameters": {
        "content": "Usa el modelo gpt-3.5-turbo para verificar si la fecha actual ($now) es un día laboral.\nDías laborales definidos: lunes, martes, miércoles, jueves, viernes.\nResponde únicamente con YES (sí) o NO (no).",
        "height": 260,
        "width": 340,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -944,
        1520
      ],
      "typeVersion": 1,
      "id": "503dbbe0-ca7a-478d-96d0-384767b4f354",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "content": "Realiza una solicitud POST a la API de Retell AI.\nUsa el número +34936940187 como origen y el número del lead (Phone_1) con prefijo +34 como destino.\nIncluye el nombre del lead (Name) como variable dinámica (nombre).",
        "height": 300,
        "width": 340,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -880,
        784
      ],
      "typeVersion": 1,
      "id": "20650d21-a337-4888-a987-4f738d3c40d0",
      "name": "Sticky Note24"
    },
    {
      "parameters": {
        "content": "Actualiza la hoja de Google Sheets original.\nCambia el \"Business Status\" a llamada_en_curso (llamada en curso) usando Uuid como clave.",
        "height": 280,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -528,
        800
      ],
      "typeVersion": 1,
      "id": "7b75a6b0-bbf3-4597-9a9b-797c8429d51f",
      "name": "Sticky Note25"
    },
    {
      "parameters": {
        "content": "Consulta el estado de la llamada en la API de Retell AI.\nObtiene detalles como la transcripción, estado, y análisis de la llamada usando el call_id generado por \"Llamada saliente2\".",
        "height": 280,
        "width": 260,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1088,
        1120
      ],
      "typeVersion": 1,
      "id": "97009fc3-3665-4797-8bd1-d2fa60d1d1dd",
      "name": "Sticky Note26"
    },
    {
      "parameters": {
        "content": "Verifica si el estado de la llamada (call_status) es igual a ended (finalizada).\nSi es verdadero (True): Pasa a \"El usuario ha respondido?2\".\nSi es falso (False): Va a \"Espera2\" para esperar antes de reintentar.",
        "height": 280,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -800,
        1120
      ],
      "typeVersion": 1,
      "id": "7c03b6c1-ec93-4ff2-b76f-ba096da657f0",
      "name": "Sticky Note27"
    },
    {
      "parameters": {
        "content": "Verifica si el estado de la llamada (call_status) es igual a ended (finalizada).\nSi es verdadero (True): Pasa a \"El usuario ha respondido?2\".\nSi es falso (False): Va a \"Espera2\" para esperar antes de reintentar.",
        "height": 280,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -320,
        1104
      ],
      "typeVersion": 1,
      "id": "69c8a7dd-a3f7-4660-910c-bcaec4c8f781",
      "name": "Sticky Note28"
    }
  ],
  "pinData": {},
  "connections": {
    "Leads": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Llamada saliente": {
      "main": [
        [
          {
            "node": "Actualizar estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar estado": {
      "main": [
        [
          {
            "node": "Tiempo espera llamada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tiempo espera llamada": {
      "main": [
        [
          {
            "node": "Transcripción",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcripción": {
      "main": [
        [
          {
            "node": "Ha acabado la llamada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Espera": {
      "main": [
        [
          {
            "node": "Transcripción",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ha acabado la llamada?": {
      "main": [
        [
          {
            "node": "El usuario ha respondido?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Espera",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Segunda llamada": {
      "main": [
        [
          {
            "node": "Esperamos 24 horas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "El usuario ha respondido?": {
      "main": [
        [
          {
            "node": "Segunda llamada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperamos 24 horas": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Llamada saliente1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Llamada saliente1": {
      "main": [
        [
          {
            "node": "Actualizar estado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tiempo espera llamada1": {
      "main": [
        [
          {
            "node": "Transcripción1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcripción1": {
      "main": [
        [
          {
            "node": "Ha acabado la llamada?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Espera1": {
      "main": [
        [
          {
            "node": "Transcripción1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ha acabado la llamada?1": {
      "main": [
        [
          {
            "node": "El usuario ha respondido?1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Espera1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar estado1": {
      "main": [
        [
          {
            "node": "Tiempo espera llamada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "El usuario ha respondido?1": {
      "main": [
        [
          {
            "node": "Tercera llamada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Llamada saliente2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperamos 24 horas1": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Llamada saliente2": {
      "main": [
        [
          {
            "node": "Actualizar estado2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar estado2": {
      "main": [
        [
          {
            "node": "Tiempo espera llamada2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tiempo espera llamada2": {
      "main": [
        [
          {
            "node": "Transcripción2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcripción2": {
      "main": [
        [
          {
            "node": "Ha acabado la llamada?2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Espera2": {
      "main": [
        [
          {
            "node": "Transcripción2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ha acabado la llamada?2": {
      "main": [
        [
          {
            "node": "El usuario ha respondido?2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Espera2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tercera llamada": {
      "main": [
        [
          {
            "node": "Esperamos 24 horas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "El usuario ha respondido?2": {
      "main": [
        [
          {
            "node": "Actualizar estado3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI2": {
      "main": [
        [
          {
            "node": "Llamada saliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "OpenAI2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d4eaf8a7-ab99-4422-9b37-3c185e0ad92a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "91e9bc2fd2d08736422cccee7e1506bda336e368f82dcb792c9d1bbf6348503c"
  },
  "id": "jnx4EBLfwai1l4l3",
  "tags": []
}